<style>
	.main-span {
		color: #769BCD;
		font-size: 1.2em;
	}
</style> 
 <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c4b0ad65affd6cc37ad679d341d2eab0&libraries=services"></script>
 
 <section id="home-section" class="hero">	  
		  <div class="home-slider owl-carousel">
	      <div class="slider-item">
	      	<div class="overlay"></div>
	        <div class="container-fluid p-0">
	          <div class="row d-md-flex no-gutters slider-text align-items-center justify-content-end" data-scrollax-parent="true">
	          	<div class="one-third order-md-last">
	          		<div class="img" style="background-image:url(images/HomeCarousel2.jpg);">
	          			<div class="overlay"></div>
	          		</div>
	          		<div class="bg-primary">
		          		<div class="vr"><span class="pl-3 py-4" style="background-image: url(images/banner-bg.jpg);">kyiv</span></div>
	          		</div>
	          	</div>
		          <div class="one-forth d-flex align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
		          	<div class="text">
		          		<span class="subheading pl-5">Danggeun Personal Training</span>
			            <h1 class="mb-4 mt-3"> <span class="main-span">당</span>신 <span class="main-span">근</span>처의 PT쌤</h1>
			            <p>			        
							내가 아는 스쿼트 자세, 정확한 자세일까요?
							단 한 번의 운동도 정확한 자세로 하는 것이 중요해요.
							합리적인 가격으로 1대1 맞춤 PT를 통해 건강한 몸을 만들어가요.
			            </p>
			            
			            <p><a href="/trainers/" class="btn btn-primary px-5 py-3 mt-3">트레이너 찾기 <span class="ion-ios-arrow-forward"></span></a></p>
		            </div>
		          </div>
	        	</div>
	        </div>
	      </div>

	    </div>
</section>