
<style>
.main-span {
	color: orange;
	font-size: 1.1em;
	font-family: 'Black Han Sans', sans-serif;
}

span, p, a {
	font-family: "Poppins", Arial, sans-serif;
}

h1 {
	font-family: 'Black Han Sans', sans-serif;
}

/* .findtrainers-btn {
	background-color: orange;
} */
.second-section {
	background: #303740;
}

.user-img {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.slider-section-span {
	color: black;
}

.slider-section-header {
	color: black;
}

.testimony-section {
	position: relative;
	background: white;
	overflow: hidden;
	height: 70vh;
}

.testimony-section .svg-blob {
	position: absolute;
	top: -10em;
	right: 0;
	left: 0;
	right: 0;
	margin-left: -10em;
}

.testimony-section .svg-blob-2 {
	position: absolute;
	bottom: -10em;
	right: 0;
	margin-right: -10em;
}

.testimony-section .overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	content: '';
	opacity: .7;
	background: #232931;
}

.testimony-section .owl-carousel {
	margin: 0;
}

.testimony-section .owl-carousel .owl-stage-outer {
	padding-top: 0;
	padding-bottom: 0;
	position: relative;
}

.testimony-section .owl-nav {
	position: absolute;
	bottom: 60px !important;
	left: 0;
	right: 0;
	margin: 0 auto;
}

@media ( max-width : 991.98px) {
	.testimony-section .owl-nav {
		display: none;
	}
}

.testimony-section .owl-nav .owl-prev, .testimony-section .owl-nav .owl-next
	{
	position: absolute;
	width: 60px;
	height: 60px;
	background: #fff !important;
	-moz-transition: all 0.7s ease;
	-o-transition: all 0.7s ease;
	-webkit-transition: all 0.7s ease;
	-ms-transition: all 0.7s ease;
	transition: all 0.7s ease;
	opacity: 1;
}

.testimony-section .owl-nav .owl-prev span:before, .testimony-section .owl-nav .owl-next span:before
	{
	font-size: 20px;
	margin-top: 7px;
	color: #000000;
}

.testimony-section .owl-nav .owl-prev {
	top: 0 !important;
	right: 0 !important;
}

@media ( min-width : 992px) {
	.testimony-section .owl-nav .owl-prev {
		right: 61px !important;
	}
}

.testimony-section .owl-nav .owl-prev:hover, .testimony-section .owl-nav .owl-prev:focus
	{
	background: #000000 !important;
	outline: none !important;
}

.testimony-section .owl-nav .owl-prev:hover span:before,
	.testimony-section .owl-nav .owl-prev:focus span:before {
	font-size: 20px;
	margin-top: 7px;
	color: #fff;
}

.testimony-section .owl-nav .owl-next {
	top: 0 !important;
	right: 0 !important;
}

@media ( min-width : 992px) {
	.testimony-section .owl-nav .owl-next {
		right: 0 !important;
	}
}

.testimony-section .owl-nav .owl-next:hover, .testimony-section .owl-nav .owl-next:focus
	{
	background: #000000 !important;
	outline: none !important;
}

.testimony-section .owl-nav .owl-next:hover span:before,
	.testimony-section .owl-nav .owl-next:focus span:before {
	font-size: 24px;
	margin-top: 7px;
	color: #fff;
}

.testimony-section .owl-dots {
	text-align: center;
}

.testimony-section .owl-dots .owl-dot {
	width: 10px;
	height: 10px;
	margin: 5px;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.3);
}

.testimony-section .owl-dots .owl-dot.active {
	background: #fff;
}

.testimony-wrap {
	display: block;
	position: relative;
	color: rgba(255, 255, 255, 0.7);
}

.testimony-wrap .user-img {
	width: 130px;
	height: 130px;
	border-radius: 50%;
	position: relative;
	margin: 0 auto;
	background-position: top center;
}

.testimony-wrap .user-img .quote {
	position: absolute;
	bottom: -10px;
	right: 0;
	width: 40px;
	height: 40px;
	background: #769BCD;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
}

.testimony-wrap .user-img .quote i {
	color: #fff;
}

.testimony-wrap .text {
	padding-top: 6em;
	margin-top: -65px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
}

.testimony-wrap .name {
	font-weight: 400;
	margin-bottom: 0;
	color: #fff;
}

.testimony-wrap .position {
	font-size: 18px;
	color: rgba(255, 255, 255, 0.8);
}
</style>
<script type="text/javascript"
	src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c4b0ad65affd6cc37ad679d341d2eab0&libraries=services"></script>
<script>
	(function($) {
		"use strict";

		var carousel = function() {
			$('.home-slider').owlCarousel(
					{
						loop : true,
						autoplay : true,
						margin : 0,
						animateOut : 'fadeOut',
						animateIn : 'fadeIn',
						nav : false,
						autoplayHoverPause : false,
						items : 1,
						navText : [ "<span class='ion-md-arrow-back'></span>",
								"<span class='ion-chevron-right'></span>" ],
						responsive : {
							0 : {
								items : 1
							},
							600 : {
								items : 1
							},
							1000 : {
								items : 1
							}
						}
					});
			$('.carousel-testimony').owlCarousel(
					{
						autoplay : true,
						autoHeight : true,
						center : true,
						loop : true,
						items : 1,
						margin : 30,
						stagePadding : 0,
						nav : false,
						dots : true,
						navText : [ '<span class="ion-ios-arrow-back">',
								'<span class="ion-ios-arrow-forward">' ],
						responsive : {
							0 : {
								items : 1
							},
							600 : {
								items : 2
							},
							1000 : {
								items : 3
							}
						}
					});

		};

	});
</script>
<section id="home-section" class="hero">
	<div class="home-slider owl-carousel">
		<div class="slider-item">
			<div class="overlay"></div>
			<div class="container-fluid p-0">
				<div
					class="row d-md-flex no-gutters slider-text align-items-center justify-content-end"
					data-scrollax-parent="true">
					<div class="one-third order-md-last">
						<div class="img"
							style="background-image: url(images/HomeCarousel10.jpg);">
							<div class="overlay"></div>
						</div>
						<!-- <div class="bg-primary">
		          		<div class="vr"><span class="pl-3 py-4" style="background-image: url(images/banner-bg.jpg);">kyiv</span></div>
	          		</div> -->
					</div>
					<div class="one-forth d-flex align-items-center ftco-animate"
						data-scrollax=" properties: { translateY: '70%' }">
						<div class="text">
							<span class="subheading pl-5">Danggeun Personal Training</span>
							<h1 class="mb-4 mt-3">
								<span class="main-span">당</span>신 <span class="main-span">근</span>처의
								PT쌤
							</h1>
							<p>내가 아는 스쿼트 자세, 정확한 자세일까요? 단 한 번의 운동도 정확한 자세로 하는 것이 중요해요.
								합리적인 가격으로 1대1 맞춤 PT를 통해 건강한 몸을 만들어가요.</p>

							<p>
								<a href="/trainers/" class="btn btn-primary px-5 py-3 mt-3">트레이너
									찾기 <span class="ion-ios-arrow-forward"></span>
								</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="ftco-section ftco-services-2 second-section"
	id="services-section">
	<div class="container">
		<div class="row">
			<div class="col-md col-sm-12 d-flex align-self-stretch ftco-animate">
				<div class="media block-6 services text-center d-block">
					<div class="icon justify-content-center align-items-center d-flex">
						<span><i class="fa fa-address-card"></i></span>
					</div>
					<div class="media-body">
						<h3 class="heading text-light">검증 OK!</h3>
						<p>트레이너 신청시 자격증 및 경력사항을 토대로 당근PT에서 100% 꼼꼼히 검토!</p>
					</div>
				</div>
			</div>
			<div class="col-md d-flex col-sm-12 align-self-stretch ftco-animate">
				<div class="media block-6 services text-center d-block">
					<div class="icon justify-content-center align-items-center d-flex">
						<span><i class="fas fa-dumbbell"></i></span>
					</div>
					<div class="media-body">
						<h3 class="heading text-light">전 운동종목 OK!</h3>
						<p>보디빌딩, 파워리프팅, 크로스핏, 필라테스, 요가까지! 전 종목별 트레이너쌤</p>
					</div>
				</div>
			</div>
			<div class="col-md d-flex align-self-stretch ftco-animate">
				<div class="media block-6 services text-center d-block">
					<div class="icon justify-content-center align-items-center d-flex">
						<span><i class="fas fa-heartbeat"></i></span>
					</div>
					<div class="media-body">
						<h3 class="heading text-light">다양한 타입 OK!</h3>
						<p>다정한, 열정적인, 강인한, 배려많은.. 각 유형의 트레이너쌤</p>
					</div>
				</div>
			</div>
			<div class="col-md d-flex align-self-stretch ftco-animate">
				<div class="media block-6 services text-center d-block">
					<div class="icon justify-content-center align-items-center d-flex">
						<span><i class="fa fa-check-circle"></i></span>
					</div>
					<div class="media-body">
						<h3 class="heading text-light">안전성 OK!</h3>
						<p>더 이상은 영업당하지 말고, 나에게 딱 맞는 트레이너 찾자!</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="ftco-section testimony-section">
	<!-- <img src="images/blob-shape-3.svg" class="svg-blob" alt="Colorlib Free Template">
    	<img src="images/blob-shape-3.svg" class="svg-blob-2" alt="Colorlib Free Template"> -->
	<div class="container">
		<div class="row justify-content-center ">
			<div
				class="col-md-7 text-center heading-section heading-section-white ftco-animate">
				<h3 class="mb-4 slider-section-header">당근PT 베스트 트레이너</h3>
			</div>
		</div>
		<div class="row ftco-animate justify-content-center">
			<div class="col-md-12">
				<div class="carousel-testimony owl-carousel ftco-owl">
					<div class="item" th:each="t:${trainerlist}">
						<div class="testimony-wrap text-center py-4 pb-2">
							<div class="user-img"
								
								th:style="'background-image:url('+ @{'/images/CRUD/pf1/' + ${t.profile1}} +');'">
								
									
								<span
									class="quote d-flex align-items-center justify-content-center">
									<i class="icon-quote-left"></i>
								</span>
							</div>
							<div class="text px-4">
								<p class="mb-2 text-dark" th:text=${t.intro}>Far far away,
									behind the word mountains, far from the countries Vokalia and
									Consonantia, there live the blind texts.</p>
								<p class="name text-dark" th:text=${t.name}>Jeff Freshman</p>
								<span class="position text-dark" th:text=${t.major}>Artist</span>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>

