<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>당근PT- 당신 근처의 PT</title>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">


<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
	integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
<link
	href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,300i,400,400i,500,500i,600,600i,700,700i"
	rel="stylesheet">
<link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard.css" />

<link rel="stylesheet" href="/css/open-iconic-bootstrap.min.css">
<link rel="stylesheet" href="/css/animate.css">

<link rel="stylesheet" href="/css/owl.carousel.min.css">
<link rel="stylesheet" href="/css/owl.theme.default.min.css">
<link rel="stylesheet" href="/css/magnific-popup.css">

<link rel="stylesheet" href="/css/aos.css">

<link rel="stylesheet" href="/css/ionicons.min.css">

<link rel="stylesheet" href="/css/flaticon.css">
<link rel="stylesheet" href="/css/icomoon.css">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/scss/chatbot.css">

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript"
	src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c4b0ad65affd6cc37ad679d341d2eab0&libraries=services"></script>
<script type="text/javascript"
	src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js"
	charset="utf-8"></script>
<script type="text/javascript"
	src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript"
	src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c4b0ad65affd6cc37ad679d341d2eab0&libraries=services"></script>
<script src="/webjars/sockjs-client/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/stomp.min.js"></script>

<style>
@media ( width :1024px) {
	.login-modal-dialog {
		max-width: 70%;
	}
}

.login-modal-content {
	border-radius: 0.7rem;
}

.login-modal-title {
	margin-left: auto;
	margin-right: auto;
}

.login-modal-header {
	border-bottom: none;
	padding-bottom: 0;
	padding-top: 4vh;
}

.login-modal-body {
	text-align: center;
}

.login-title {
	font-size: 17px;
	color: grey;
}

@media ( min-height :768px)and(min-width:411px) {
	.login-title {
		font-size: 20px;
		color: grey;
	}
}

.login-form {
	padding: 3vh;
}

.login-input {
	outline: none;
	margin: 0;
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	width: 100%;
	font-size: 14px;
	font-family: inherit;
}

.login-input-group {
	position: relative;
	margin-bottom: 6vh;
	border-bottom: 1px solid rgba(204, 204, 204, 0.459);
}

.input--style-3 {
	font-size: 14px;
	color: rgb(143, 141, 141);
	background: transparent;
}

.input--style-3::-webkit-input-placeholder {
	color: rgb(143, 141, 141);
}

.input--style-3:-moz-placeholder {
	color: #ccc;
	opacity: 1;
}

.input--style-3::-moz-placeholder {
	color: #ccc;
	opacity: 1;
}

.input--style-3:-ms-input-placeholder {
	color: #ccc;
}

.login-modal-btn {
	display: inline-block;
	line-height: 42px;
	padding: 0 33px;
	font-family: Poppins;
	cursor: pointer;
	color: #fff;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	font-size: 18px;
	width: 100%
}

.btn--pill {
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 30px;
	border: 2px solid;
}

.btn--green {
	background: transparent;
	border-color: #65d849;
	color: #65d849;
	font-size: 12px;
	padding: 0;
}

@media ( max-width :768px) {
	.btn--green {
		font-size: 8px;
	}
}

.btn--signin:disabled {
	background: transparent;
	color: #769BCD;
	font-size: 13px;
	border-color: #769BCD;
	margin-bottom: 3vh;
	cursor: auto;
}

.btn--signin {
	background: #769BCD;
	color: white;
	font-size: 13px;
	border-color: #769BCD;
	margin-bottom: 3vh;
}

.extra {
	padding-bottom: 4vh;
	color: rgb(143, 141, 141);
	font-size: 13px;
}

.extra a {
	color: gray;
}

.new {
	padding-bottom: 0;
}

.carrot {
	color: #769BCD;
}

.modal-title-text {
	color: black;
}

#loginModal {
    overflow-y: auto;
}

#loginModal .modal-open {
    overflow: auto;
}

#loginModal .modal-open[style] {
    padding-right: 0px !important;
}


</style>


<script>

/* ChatBot */
	function connect(){
		var socket = new SockJS('/ws');
		stompClient = Stomp.over(socket);
		stompClient.connect({}, function(frame){
			console.log('Connected' + frame);
			stompClient.subscribe('/topic/public', function(message){
				showMessage(message.body);
			});
		});
	}
	
	function disconnect(){
		if(stompClient !== null){
			stompClient.disconnect();
		}
	}
	
	function sendMessage(){
		var question = $('#ta_chatquestion').val();
		
		if(question.trim() == ''){
			alert('질문을 입력하세요');
			return;
			}
		
		if(question.trim() != ''){
			$('#div_chatroom').append('<div class="chat_ask"><p class="chattext">' + question + '</p></div>');
			$.ajax({
				url:'/sendMessage',
				data:{
					'question': question
				},
				success:function(result){
					showMessage(result);
				}
			});
		}
		
		
	}
	
	function showMessage(answer){
		$('#div_chatroom').append('<div class="chat_response"><p class="chattext">' + answer + '</p></div>');
		$("#div_chatroom").scrollTop($("#div_chatroom")[0].scrollHeight);
		$('#ta_chatquestion').val('');
		
	}
 
	$(function() {
		// Ajax로 로그인 처리 - 실패
		/*  $('#login_bt').click(function() {
			var id = $('input[name="lid"]').val();
			var pwd = $('input[name="lpwd"]').val();
			
			$.ajax({
				type : "post",
				url : 'loginimpl',
				data : {
					'id' : id,
					'pwd' : pwd
				},
				success : function(result) {
					alert(result);	
					
					if (result == "success") {
						location.href("/");
					}
					
					if (result == 'none') {
						$('#login-check-msg').text('아이디가 존재하지 않습니다');	
					}
					
					if (result == 'tner_pwd_fail') {
						$('#login-check-msg').text('비밀번호를 확인해주세요');
					}
					
					if (result == 'tnee_pwd_fail') {
						$('#login-check-msg').text('비밀번호를 확인해주세요');
					}			
				}
			});
		});    */

		$('#login_bt').attr('disabled', 'disabled');

		// ajax 이용해서 아이디 존재여부
		$('.loginform input[name=id],[name=pwd]').keyup(function() {
			var id = $('.loginform input[name=id]').val();
			var pwd = $('.loginform input[name=pwd]').val();

			$.ajax({
				url : '/checklogin',
				data : {
					'id' : id,
					'pwd' : pwd
				},
				success : function(data) {
					if (data == 'none') {
						$('#login-check-msg').text('아이디가 존재하지 않습니다');
						$('#login_bt').attr('disabled', 'disabled');
					}
					if (data == 'success') {
						$('#login_bt').removeAttr('disabled');
						$('#login-check-msg').text('환영합니다! :>');
					}
					if (data == 'fail') {
						$('#login-check-msg').text('비밀번호를 확인해주세요');
						$('#login_bt').attr('disabled', 'disabled');
					}

				}
			});
		});

		$('#login_bt').click(function() {
			$('.loginform').attr({
				'method' : 'post',
				'action' : '/loginimpl'
			});
			$('.loginform').submit();

		});
		
		/* ChatBot */
		const chatbox = jQuery.noConflict();

		  $('#btn_startchat').click(function(){
			  chatbox(".chatbox-popup, .chatbox-close").fadeIn();
			  connect();
		  });

		  $('.toclose').click(function(){
			  chatbox(".chatbox-popup, .chatbox-close").fadeOut();
			  disconnect();
		  });
		  
		  $('#btn_sendmessage').click(function(){
			  sendMessage();
		  });
		  
		  $('#ta_chatquestion').keydown(function(key){
			  if(key.keyCode == 13){
				  sendMessage();
			  }
		  });
	});
</script>
</head>
<body data-spy="scroll" data-target=".site-navbar-target"
	data-offset="300">

	<!-- NavBar Start -->
	<nav
		class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light site-navbar-target"
		id="ftco-navbar">
		<div class="container">
			<a class="navbar-brand" href="/">당근PT</a>
			<button class="navbar-toggler js-fh5co-nav-toggle fh5co-nav-toggle"
				type="button" data-toggle="collapse" data-target="#ftco-nav"
				aria-controls="ftco-nav" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="oi oi-menu"></span> Menu
			</button>



			<div class="collapse navbar-collapse" id="ftco-nav">
				<ul class="navbar-nav nav ml-auto">
					<li class="nav-item"><a href="/"
						class="nav-link index-nav-link"><span>Home</span></a></li>
					<li class="nav-item"><a href="/trainers/" class="nav-link"><span>트레이너
								찾기</span></a></li>
					<li class="nav-item"><a href="/map" class="nav-link"><span>지도로
								찾기</span></a></li>

					<li class="nav-item"><span
						class="badge badge-pill badge-warning"
						style="float: right; margin-bottom: -5px; margin-right: 0px; font-size: 10px">123</span>
						<a class="nav-link" href="/matching"><span><i
								class="fab fa-maxcdn mr-1"></i>매칭</span></a></li>


					<li th:if="${session.logincust == null}" class="nav-item"><a
						class="nav-link " href="#" data-toggle="modal"
						data-target="#loginModal"><span>로그인</span></a></li>


					<li th:unless="${session.logincust == null}"
						class="nav-item dropdown"><a class="nav-link dropdown-toggle"
						href="#" id="navbarDropdown" role="button"
						data-bs-toggle="dropdown" aria-expanded="false"
						th:text="${session.logincust.name} + ' 님'"></a>

						<div class="dropdown-menu">

							<!-- <a th:if="${session.logincust == null}" class="dropdown-item" href="/login">로그인</a>
					<a th:if="${session.logincust == null}" class="dropdown-item" href="/join">회원가입</a> -->

							<a th:if="${session.logincust != null}" class="dropdown-item"
								href="/logout">로그아웃</a> <a
								th:if="${session.logincust != null} and ${session.logincust.level == '일반회원'}"
								class="dropdown-item"
								th:href="@{/mypage(id=${session.logincust.id})}">마이페이지</a> <a
								th:if="${session.logincust != null} and ${session.logincust.level == '트레이너'}"
								class="dropdown-item" href="/trmypage">마이페이지</a>
							<!--  th:href="@{/trmypage(id=${session.logincust.id})}" -->
							<a
								th:if="${session.logincust != null} and ${session.logincust.level == '관리자'}"
								class="dropdown-item" th:href="@{/admin}">관리자 페이지</a>
						</div></li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- NavBar End -->

	<!-- 로그인 modal -->
	<div class="modal fade" id="loginModal">
		<div class="modal-dialog login-modal-dialog modal-dialog-centered">
			<div class="modal-content login-modal-content">

				<!-- Modal Header -->
				<div class="modal-header login-modal-header">
					<div class="modal-title login-modal-title">

						<p class="navbar-brand modal-title-text">
							<span class="carrot"><i class="fas fa-carrot"></i></span> 당근PT
						</p>
					</div>
				</div>

				<!-- Modal body -->
				<div class="modal-body login-modal-body">
					<p id="login-check-msg" class="login-title">아이디와 비밀번호를 입력하세요</p>

					<!-- <span id="login-check-msg" class="text-dark">gd</span> -->

					<div class="login-form">
						<form class="loginform">
							<div class="login-input-group">
								<input class="input--style-3 login-input" type="text"
									placeholder="아이디" name="id">
							</div>
							<div class="login-input-group">
								<input class="input--style-3 login-input" type="password"
									placeholder="비밀번호" name="pwd">
							</div>

							<div class="p-t-10">
								<button class="login-modal-btn btn--pill btn--signin"
									id="login_bt">로그인</button>
							</div>
						</form>

						<div class="extra">
							<a href="/findidpwd" class="mr-3"><u>아이디/비밀번호 찾기</u></a> <a
								href="/join" class="ml-3"><u>회원 가입</u></a>
						</div>


						<div class="row">
							<div class="col">
								<div class="p-t-10">
									<!-- <button class="modal-btn btn--pill btn--green" type="submit">
										SIGN IN WITH GOOGLE <img
											src="https://img.icons8.com/color/48/000000/google-logo.png" />
									</button> -->
									<a href="javascript:kakaoLogin();"> <input type="image"
										src="/images/kakao_login.png"
										style="height: 46px; widows: 10px;">
									</a>
								</div>
							</div>
							<div class="col">
								<div class="p-t-10">
									<!-- <button class="modal-btn btn--pill btn--green" type="submit">
										SIGN IN WITH PODIO <img
											src="https://img.icons8.com/color/48/000000/podio.png" />
									</button> -->
									<a href=""> <input type="image" 
										src="/images/naver_login.png"
										style="height: 50px; widows: 8px;">										
									</a>
								</div>
							</div>
						</div>
						<p class="extra new mt-3">Dangguen Personal Trainers Matching
							Platform</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End modal -->



	<!-- Center Start -->

	<div th:insert="${center} ? ${center} : center"></div>
	
	<!-- Center End -->
	

	
	<!-- Footer Start -->
	<footer class="ftco-footer ftco-section">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-12">
					<h5 class="text-light">당근PT</h5>
					<a href=""><i class="fa-brands fa-instagram"></i></a> <a href=""><i
						class="fa-brands fa-youtube ml-2"></i></a>
					<p>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						Copyright &copy;
						<script>
							document.write(new Date().getFullYear());
						</script>
						All rights reserved
					</p>
					<p>
						This template is made with <i class="icon-heart color-danger"
							aria-hidden="true"></i> by <a href="https://colorlib.com"
							target="_blank">Colorlib</a>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					</p>
				</div>

				<div class="col-md-4 col-sm-12">
					<h5 class="text-light">Company</h5>
					<p>사업자정보확인</p>
					<p>상호/대표자명: (주)TeamFirst/김현재</p>
					<p>사업자등록번호: 123-4-56789</p>
				</div>

				<div class="col-md-4 col-sm-12">
					<h5 class="text-light">Contact</h5>
					<p>이메일: multicam@pus.com</p>
					<p>전화번호: 01012345678</p>
					<p>주소: 서울특별시 강남구 선릉로 428, 멀티캠퍼스 401호</p>
				</div>

			</div>
		</div>
	</footer>
	<!-- Footer End -->
	
		<!-- Chatbot Start -->
		<div id="div_chatbot">
			<button class="chatbox-open" id="btn_startchat">
			    <i class="fa fa-comment fa-2x" aria-hidden="true"></i>
			  </button>
			<button class="chatbox-close toclose">
			    <i class="fa fa-close fa-2x" aria-hidden="true"></i>
			  </button>
			  
			<section class="chatbox-popup">
				  <header class="chatbox-popup__header">
					    <aside style="flex:3">
					     <i class="fa-regular fa-comment-dots"></i>
					    </aside>
					    <aside style="flex:8">
					      <h1 id="h1_chatbotname">당근PT 챗봇</h1>
					    </aside>
					    <aside style="flex:1">
					      <button id="btn_exit" class="chatbox-close-x toclose"><i class="fa-solid fa-x"></i></button>
					    </aside>
				  </header>
				  
				  <main class="chatbox-popup__main">
				  	<div id="div_chatroom">
					    
				    </div>
				  </main>
				  
				  <footer class="chatbox-popup__footer">
					    <aside style="flex:13">
					      <textarea type="text" id="ta_chatquestion" placeholder="메시지를 입력하세요" autofocus></textarea>
					    </aside>
					    <aside style="flex:1;color:#888;text-align:center;">
					      <i class="fa fa-paper-plane" id="btn_sendmessage" aria-hidden="true"></i>
					    </aside>
				  </footer>
			</section>
		</div>
	<!-- Chatbot End -->


	<!-- loader -->
	<div id="ftco-loader" class="show fullscreen">
		<svg class="circular" width="48px" height="48px">
			<circle class="path-bg" cx="24" cy="24" r="22" fill="none"
				stroke-width="4" stroke="#eeeeee" />
			
			<circle class="path" cx="24" cy="24" r="22" fill="none"
				stroke-width="4" stroke-miterlimit="10" stroke="#769BCD" /></svg>
	</div>



	<script src="/js/jquery.min.js"></script>
	<script src="/js/jquery-migrate-3.0.1.min.js"></script>
	<script src="/js/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/jquery.easing.1.3.js"></script>
	<script src="/js/jquery.waypoints.min.js"></script>
	<script src="/js/jquery.stellar.min.js"></script>
	<script src="/js/owl.carousel.min.js"></script>
	<script src="/js/jquery.magnific-popup.min.js"></script>
	<script src="/js/aos.js"></script>
	<script src="/js/jquery.animateNumber.min.js"></script>
	<script src="/js/scrollax.min.js"></script>
	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
	<script src="/js/google-map.js"></script>
	<script src="/js/main.js"></script>




</body>
</html>