
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
	
<div class="container mt-5">
	<div class="row flex-lg-nowrap">
	<!-- Left Start -->
		<div class="col-12 col-lg-auto mb-3" style="width: 200px;">
			<div class="card mt-5 p-3">
				<div class="e-navlist e-navlist--active-bg">
					<ul class="nav">
						<li class="nav-item"><a class="nav-link px-2 active" th:href="@{/admin}"><i
								class="fa fa-fw fa-user mr-1"></i><span>일반회원</span></a></li>
						<li class="nav-item"><a class="nav-link px-2"
							th:href="@{/admin/trainers}"
							target="__blank"><i class="fa fa-fw fa-id-card mr-1"></i><span>트레이너</span></a></li>
						<li class="nav-item"><a class="nav-link px-2"
							href="https://www.bootdey.com/snippets/view/bs4-edit-profile-page"
							target="__blank"><i class="fa-fw far fa-angry mr-1"></i><span>신고내역</span></a></li>
						<li class="nav-item"><a class="nav-link px-2"
							href="https://www.bootdey.com/snippets/view/bs4-edit-profile-page"
							target="__blank"><i class="fa-fw fas fa-assistive-listening-systems mr-1"></i><span>상담신청</span></a></li>
					</ul>
				</div>
			</div>
		</div>
	<!-- Left End -->
	<!-- Center Start -->
		<div class="col">
			<div class="row">
				<div class="col mb-3">
					<div class="card mt-5">
						<div class="card-body">
							<div class="e-profile">
							<!-- Cart Body Start -->
								
								<div th:insert="${admincenter} ? ${admincenter} : admincenter"></div>
							<!-- Card Body End -->	
							</div>
						</div>				
					</div>
				</div>


			</div>

		</div>
		<!-- Center End -->
	</div>
</div>