<style>
	.span-alarm{
		background-color:#769BCD;
		color:white;
		display:inline-block;
		width:20px;
		border-radius:5px;
		text-align:center;
		margin-left:5px;
	}
	
	.span-alarm:hover{
		background-color:#2C4E80;
	}
	
	.adminlist{
 		--s: 0.1em;   /* the thickness of the line */
  		--c: #769BCD; /* the color */
  
		  color: #0000;
		  padding-bottom: var(--s);
		  background: 
		    linear-gradient(90deg,var(--c) 50%,#000 0) calc(100% - var(--_p,0%))/200% 100%,
		    linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
		 -webkit-background-clip: text,padding-box;
          background-clip: text,padding-box;
		  transition: 0.5s;
	}
	
	.adminlist:hover{
		--_p: 100%
	}
</style>
<script>
	
	function updateimpl(id, newStatus, statusDetail){
		$.ajax({
			url:'/admin/updatestatus',
			data:{
				'id':id,
				'newstatus':newStatus,
				'statusdetail':statusDetail
			},
			success: function(result){
				$('.modal-body').empty();
				$('.modal-body').append('<p>상태 변경이 완료되었습니다.</p>');
				$('.modal-footer').empty();
				$('.modal-footer').append('<button type="button" id="btn_closemodal" class="btn btn-secondary" data-dismiss="modal">Close</button>');
				closeModal();
			}
		});
	}
	
	function closeModal(){
		$('#btn_closemodal').click(function(){
			location.reload();
		});
	};
	
	function changeOrder(){
		$('#select_order').change(function(){
			var searchPage = 1;
			GetTarget(parseInt(searchPage));
		});
	}

	$(function(){
		$('#trainerAlarm').click(function(){
			$('#a_trainers').attr('href', "/admin/trainers?status=대기중");
		});
	});
	
</script>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
	
<div class="container mt-5">
	<div class="row flex-lg-nowrap">
	<!-- Left Start -->
		<div class="col-12 col-lg-auto mb-3" style="width: 200px;">
			<div class="card mt-5 p-3" id="div_admintrainer">
				<div class="e-navlist e-navlist--active-bg">
					<ul class="nav">
						<li class="nav-item">
							<a class="nav-link px-2 active" th:href="@{/admin}">
								<i class="fa fa-fw fa-user mr-1"></i>
								<span class="adminlist">일반회원</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link px-2" id="a_trainers" th:href="@{/admin/trainers}">
									<i class="fa fa-fw fa-id-card mr-1"></i>
									<span class="adminlist">트레이너</span>
									<span class="span-alarm" id="trainerAlarm" th:if="${newAlarmCnt.newtrainer > 0}" th:text="${newAlarmCnt.newtrainer}"></span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link px-2" id="a_reports" th:href="@{/admin/reports}">
									<i class="fa-fw far fa-angry mr-1"></i>
									<span class="adminlist">신고내역</span>
									<span class="span-alarm" id="reportAlarm" th:if="${newAlarmCnt.newreport > 0}" th:text="${newAlarmCnt.newreport}"></span>
							</a>
							
						</li>
						<li class="nav-item">
							<a class="nav-link px-2"
								href="https://www.bootdey.com/snippets/view/bs4-edit-profile-page"
								target="__blank">
									<i class="fa fa-fw fa-assistive-listening-systems mr-1"></i>
									<span class="adminlist">상담신청</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	<!-- Left End -->
	<!-- Center Start -->
		<div class="col">
			<div class="row">
				<div class="col mb-3">
					<div class="card mt-5">
						<div class="card-body">
							<div class="e-profile">
							<!-- Cart Body Start -->
								
								<div th:insert="${admincenter} ? ${admincenter} : admincenter"></div>
							<!-- Card Body End -->	
							</div>
						</div>				
					</div>
				</div>


			</div>

		</div>
		<!-- Center End -->
	</div>
</div>