<style>

 #span_reportGuide{
	font-size:0.8rem;
	font-weight:bold;
 }
 
 #ul_status .nav-item:hover{
 	color:#769BCD;
 	cursor:pointer;
 }
 #ul_status .active{
 	color:#769BCD;
 	font-weight:bold;
 }
 
 .admin.modal-title{
 	font-family: "Poppins", Arial, sans-serif;
 }
 
 .report_info_detail{
 	background-color:#F5F9FC;
 }
 
 .report.img{
 	max-width:200px;
 	max-height:200px;
 	object-fit:contain;
 	cursor:pointer;
 }
 
 .report_detail{
 	align-items:center;
 	justify-content:space-between;
 	padding-right:2rem;
 }
 
 #modal_reportimg{
 	display:none;
 	overflow:auto;
 	background-color:rgba(0, 0, 0, 0.8);
 }
 
 #reportModal_img{
 	max-width:700px;
 	max-height:500px;
 	object-fit:contain;
 	display:block;
 }
 
 .report.modal-content{
  	cursor:pointer;
 	position:fixed !important;
 	top:15%;
 	max-width:800px;
 	max-height:600px;
 	animation-name:zoom;
 	animation-duration:0.8s;
 }
 
  @keyframes zoom{
 	from{transform:scale(0.7)}
 	to{transform:scale(1)}
 }
 
 .modal-body.report{
 	display:grid;
 	place-content:center;
 }

</style>
<script th:inline="javascript">

	function toggleDetail(id){
		$('.report_info_detail.' + id).slideToggle(200, "swing");
	}
	
	/* 신고 이미지 Modal */
	function openImgModal(rid){
		$('#modal_reportimg.' + rid).show();
	};
	
	function closeImgModal(rid){
		$('#modal_reportimg.' + rid).hide();
	};
	
	function closeImgModalOutside(rid){
		closeImgModal(rid);
	};
	
	// Report status 변경
	function updateReportStatus(rid){
		$.ajax({
			url:'/admin/updateReportStatus',
			data:{
				'id':rid,
				'rp_status':'처리완료'
			}
		});
	}
	
	/* Trainer status 변경 -> Report status 변경*/
	function UpdateStatus(rid, id){
		
		var newStatus = $('#'+'selectstatus'+id).val();
		
		// Modal로 확인
		$('#modal_updatestatus').fadeIn();
		
		$('.modal-body.updatestatus').empty();
		$('.modal-body.updatestatus').append('<p>' + id + ' 회원의 상태를 "' + newStatus + '"(으)로 변경하시겠습니까?</p>');
		
		$('.modal-footer.updatestatus').empty();
		$('.modal-footer.updatestatus').append('<p><button type="button" class="btn btn-primary" id="btn_status">변경</button></p>');
		$('.modal-footer.updatestatus').append('<p><button type="button" class="btn btn-secondary" id="btn_closemodal" data-dismiss="modal">취소</button></p>');
	   
		closeModal();
		var refuse = '<label for="select_statusdetail">사유</label>'
			+ '<select id="select_statusdetail">'
			+ '<option>신고 누적</option>'
			+ '<option>폭행</option>'
			+ '<option>욕설</option>'
			+ '<option>기타</option>'
			+ '</select>';
		
			$('.modal-body.updatestatus').append(refuse);
				
			$('#select_statusdetail').change(function(){
				$('#input_refuseEtc').remove();
				
				if($('#select_statusdetail option:selected').val() == '기타'){
					$('.modal-body.updatestatus').append('<p><input type="text" id="input_refuseEtc"></p>');
				}
			});
		
			$('#btn_status').click(function(){
				var refuseReason = $('#select_statusdetail option:selected').val();
				var statusDetail = '';
				if(refuseReason == '기타'){
					statusDetail = refuseReason + ': ' + $.trim($('#input_refuseEtc').val());
				}else{
					statusDetail = refuseReason;
				}
				updateimpl(id, newStatus, statusDetail);
				updateReportStatus(rid);
				
			});
			
	};
		
		
	
	
	$(function(){
		
		paging();
		
		
		// 정렬
		$('#select_order').change(function(){
			var searchPage = 1;
			GetTarget(parseInt(searchPage));
		});
		
		// status별 조회
		$('.nav-link.a_status').click(function(){
			
			// 다른 tab에서 active 제거
			$('.nav-link.a_status').not(this).removeClass("active");
			
			// 선택 tab에 active 붙이기
			$(this).addClass("active");
			
			var status = $('.active.nav-link.a_status').data("value");
			var searchPage = 1;
			GetTarget(parseInt(searchPage));
		});
		
	});
</script>

<ul class="nav nav-tabs" id="ul_status" >
	<li class="nav-item"><a class="nav-link a_status" id="statustab_all" data-value="all">ALL</a></li>
	<li class="nav-item">
		<a class="nav-link a_status">대기중</a>
	</li>
	<li class="nav-item">
		<a class="nav-link a_status">처리완료</a>
	</li>
</ul>

<div class="tab-content pt-3">
	<div class="tab-pane active">
		
 <div class="row flex-lg-nowrap">
      <div class="col mb-3">
        <div class="e-panel card">
          <div class="card-body">
				<span id="span_reportGuide">* 신고 내역을 클릭하면 상세 신고 사유 및 이미지를 확인하고 조치를 취할 수 있습니다.</span>
            <div class="e-table">
            
              <!-- Table Start -->
              <div id="div_trainee_row"
              th:replace="${report_info} ? ${report_info} : report_info">
              </div>
              <!-- Table End-->
              
              <!-- Modal -->
              <div class="modal" id="modal_updatestatus" tabindex="-1" role="dialog">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header updatestatus">
				        <h5 class="admin modal-title">트레이너 status 변경</h5>
				      </div>
				      <div class="modal-body updatestatus">
				      </div>
				      <div class="modal-footer updatestatus">
				      </div>
				    </div>
				  </div>
				</div>
              <!-- Modal End -->
               
              <div class="d-flex justify-content-center">
                <ul class="pagination mt-3 mb-0" id="pages">
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>

	</div>
</div>