<script th:inline="javascript">

	function GetTarget(j){
		$.ajax({
			url:'/admin/findpage',
			data:{
				'pageNo':j
			},
			method:'GET',
			success: function(result){
				$('#div_trainee_row').empty();
				$('#div_trainee_row').append(result);
				
				var currentPage = j;
				var totalData = [[${totalData}]];
				var limitPerPage = [[${amount}]]; // 페이지당 데이터 수
				var pageSize = 5; // 화면에 표시될 페이지 수
				var totalPages = Math.ceil(totalData / limitPerPage);
				var pageGroup = Math.ceil(currentPage / pageSize); // 페이지 그룹
				var last = pageGroup * pageSize;
				
				if(currentPage <= 0){
					currentPage = 1;
				}
				if(last > totalPages){
					last = totalPages;
				}
				
				var first = last - (pageSize - 1);
				const next = last + 1;
				var prev = first - 1;
				
				if(totalPages < 1){
					first = last;
				}
				
				var pages = $('#pages');
				pages.empty();
				
				if(first > 1){
					pages.append('<li class="page-item"><a class="page-link" onclick="GetTarget('+ first +')">prev</a></li>');
				}
				
				for (var k = first; k <= last; k++) {
					
					if(currentPage == k){
						pages.append('<li class="active page-item"><a class="page-link" onclick="GetTarget(' + k + ');"' + '>' + k + '</a></li>');
					}else if(k > 0){
						pages.append('<li class="page-item"><a class="page-link" onclick="GetTarget('+ k +')">' + k + '</a></li>');
						};
					}
				
				if(next > pageSize && next <= totalPages){
					pages.append('<li class="page-item"><a class="page-link" onclick="GetTarget(' + next + ')">next</a></li>');
				};
				
			}
			
		});
		
		history.pushState({
			data:'/admin/findpage',
			pageNo: j
		}, // state
		null, // title
		'/admin/trainees?pageNo=' + j); // url	
	}
	
	$(window).on('popstate', function(event){
		window.location = document.location.href;

	});
	
	function paging(totalData, currentPage){
		
		/* 변수 totalData: 전체 데이터 수(Back에서 받아옴)*/
		var totalData = [[${totalData}]];
		var currentPage = [[${currentPage}]];
		var limitPerPage = [[${amount}]]; // 페이지당 데이터 수
		var pageSize = 5; // 화면에 표시될 페이지 수
		var totalPages = Math.ceil(totalData / limitPerPage);
		var pageGroup = Math.ceil(currentPage / pageSize); // 페이지 그룹
		var last = pageGroup * pageSize;
		
		if(currentPage <= 0){
			currentPage = 1;
		}
		if(last > totalPages){
			last = totalPages;
		}
		
		var first = last - (pageSize - 1);
		const next = last + 1;
		var prev = first - 1;
		
		if(totalPages < 1){
			first = last;
		}
		
		var pages = $('#pages');
		pages.empty();
		
		// prev 버튼
		if(first > 1){
			pages.append('<li class="page-item"><a class="page-link" onclick="GetTarget('+ first +')"><</a></li>');
		}
		
		// 페이지 숫자
		for (var j = first; j <= last; j++) {
			
			if(currentPage == j){
				pages.append('<li class="page-item active"><a class="page-link" onclick="GetTarget(' + j + ');"' + '>' + j + '</a></li>');
			}else if(j > 0){
				pages.append('<li class="page-item"><a class="page-link" onclick="GetTarget('+ j +')">' + j + '</a></li>');
				};
			}
		
		// next 버튼
		if(next > pageSize && next <= totalPages){
			pages.append('<li class="page-item"><a class="page-link" onclick="GetTarget(' + next + ')">></a></li>');
		};
	
	}
	
	$(function(){
		paging();
	});
</script>
<ul class="nav nav-tabs">
	<li class="nav-item"><a href="" class="active nav-link">일반 회원</a></li>
</ul>
<div class="tab-content pt-3">
	<div class="tab-pane active">
		
 <div class="row flex-lg-nowrap">
      <div class="col mb-3">
        <div class="e-panel card">
          <div class="card-body">
            <div class="e-table">
            
              <!-- Table Start -->
            
              <div id="div_trainee_row" class="table-responsive table-lg mt-3"
              th:replace="${trainee_info} ? ${trainee_info} : trainee_info">
              </div>
              <!-- Table End-->
              
              <div class="d-flex justify-content-center">
                <ul class="pagination mt-3 mb-0" id="pages">
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>

	</div>
</div>