<div id="div_trainee_row" class="table-responsive table-lg mt-3">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="sortable" width="70px">
          <div class="custom-control custom-control-inline custom-checkbox custom-control-nameless m-0">
            <input type="checkbox" class="custom-control-input" id="all-items">
            <label class="custom-control-label" for="all-items"></label>
          </div>
        </th>
        <th class="sortable" width="150px">아이디</th>
        <th class="sortable" width="150px">이름</th>
        <th class="sortable" width="70px">성별</th>
        <th class="sortable" width="120px">전공</th>
        <th class="sortable" width="140px">직장</th>
        <th class="sortable" width="140px">지역</th>
        <th class="sortable" width="120px">가입일</th>
        <th class="sortable" width="60px">상태</th>
      </tr>
    </thead>
    <tbody th:each="t : ${tnerlist}">
      <tr class="trainee_info">
        <td class="text-nowrap align-middle" width="70px">
          <div class="custom-control custom-control-inline custom-checkbox custom-control-nameless m-0 align-top">
            <input type="checkbox" class="custom-control-input" id="item-1">
            <label class="custom-control-label" for="item-1"></label>
          </div>
        </td>
        <td class="text-nowrap align-middle" width="150px">
        	<a  th:text="${t.id}" th:href="@{/admin/trainers/detail(id=${t.id})}"></a>
        </td>
        <td class="text-nowrap align-middle" width="150px" th:text="${t.name}"></td>
        <td class="text-nowrap align-middle" width="70px" th:text="${t.gender}"></td>
        <td class="text-nowrap align-middle" width="120px"th:text="${t.major}"></td>
        <td class="text-nowrap align-middle" width="140px" th:text="${t.gym_name}"></td>
        <td class="text-nowrap align-middle" width="140px" th:text="${t.addrshort}"></td>
        <td class="text-nowrap align-middle" width="120px" th:text="${#dates.format(t.regdate, 'yyyy-MM-dd')}"></td>
        <td class="text-nowrap align-middle" width="60px">
        	<form id="form_selectstatus">
	        	<select th:id="'selectstatus'+${t.id}" th:onchange="UpdateStatus([[${t.id}]])">
	        		<option th:each="s : ${statuslist}" th:text="${s.status}" th:value="${s.status}"
	        		th:selected="${t.status} == ${s.status}"></option>
	        	</select>
        	</form>
        </td>
      </tr>
    </tbody>
  </table>
  <input type="hidden" id="total_hidden" th:value=${TrainerTotal}>
</div>