<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.first.mapper.ReviewMapper">

	<select id="select" parameterType="int" resultType="reviewVO">
		SELECT * FROM
		review WHERE id=#{id}
	</select>
	<select id="selectallbytid" parameterType="String" resultType="reviewVO">
		SELECT * FROM
		review WHERE tid=#{tid}
	</select>
	<select id="selectall" resultType="reviewVO">
		SELECT * FROM review
	</select>
<!-- select: tid별 리뷰 개수-->
	<select id="selectcnt" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM review
		WHERE tid=#{tid};
	</select>
<!-- select: tid별 별점 평균-->
	<select id="selectavg" parameterType="String" resultType="Double">
		SELECT ROUND(AVG(rv_rate), 1) AS avgrate FROM review
		WHERE tid=#{tid};
	</select>	
	<insert id="insert" parameterType="reviewVO">
		INSERT INTO review VALUES(NULL, #{uid}, #{tid}, #{rv_rate}, CURDATE(), #{rv_text})
	</insert>
	<update id="update" parameterType="reviewVO">
		UPDATE review SET rv_rate=#{rv_rate}, rv_text=#{rv_text}
		WHERE id=#{id}
	</update>
	<delete id="delete" parameterType="int">
		DELETE FROM review WHERE id=#{id}
	</delete>

</mapper>