<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.first.mapper.TraineeMapper">
	
	<insert id="insert" parameterType="TraineeVO">
		INSERT INTO trainee VALUES (#{id},#{pwd},#{name},#{phone},#{email},#{zip},#{addr1},#{addr2},NOW(),DEFAULT)
	</insert>
	<delete id="delete" parameterType="String">
		DELETE FROM trainee WHERE ID=#{id}
	</delete>
	
	<update id="update" parameterType="TraineeVO">
		UPDATE trainee SET PWD=#{pwd},PHONE=#{phone},EMAIL=#{email},ZIP=#{zip},ADDR1=#{addr1},ADDR2=#{addr2} WHERE ID=#{id}
	</update>
	
<!-- 비밀번호 업데이트 -->
	<update id="updatepwd" parameterType="TraineeVO">
		UPDATE trainee SET pwd=#{pwd} WHERE email=#{email};
	</update>
	<select id="select" parameterType="String" resultType="TraineeVO">
		SELECT * FROM trainee WHERE ID=#{id}
	</select>
	<select id="selectall" resultType="TraineeVO">
		SELECT * FROM trainee
	</select>
<!-- level='일반회원'만 선택-->
	<select id="selecttrainees" resultType="TraineeVO">
		SELECT * FROM trainee
		WHERE level='일반회원';
	</select>
<!-- level='일반회원' 데이터 개수 선택-->
	<select id="selectcnt" resultType="int">
		SELECT COUNT(*) FROM trainee
		WHERE level = '일반회원';
	</select>
<!-- 페이지, 정렬 select -->
	<select id="selectbypage" resultType="traineeVO">
		<choose>
			<when test="orderBy != null">
				SELECT row_number() over(order by ${orderBy}) as rownum,
				</when>
			<when test="orderBy == null">
				SELECT row_number() over(order by regdate desc) as rownum,
				</when>
		</choose>
		 id, name, regdate FROM trainee
		WHERE level = '일반회원'
		LIMIT #{offset}, #{amount}
	</select>
<!-- name, phone으로 id 찾기-->
	<select id="selectbynamephone" resultType="String">
		SELECT id FROM trainee WHERE name=#{name} AND phone=#{phone}
	</select>
<!-- id, email로 찾기 -->
	<select id="selectbyidemail" resultType="String">
		SELECT email from trainee
		WHERE id=#{id} AND email=#{email}
	</select>
<!-- email로 email 선택-->
	<select id="selectemailbyemail" resultType="String">
		SELECT email FROM trainee WHERE email=#{email}
	</select>
</mapper>






