<style>
#btn_findid {
	float: right;
}

.mypage-nav {
	margin-top: 5em;
	width: 100%;
	display: flex;
	justify-content: space-between;
	display: flex;
}

.nav-menus {
	color: black;
}

.avatar>img {
	width: 6rem;
}

.profile-text {
	font-size: 12px;
	text-decoration: underline;
	color: black;
}

.profile-text:hover {
	color: black;
	text-decoration: underline;
}

#edit_activate:disabled {
	cursor: auto;
	pointer-events: none;
}

#updatebtn:disabled {
	cursor: auto;
	pointer-events: none;
}

body {
	background: #F8F9FA;
	overflow-x: hidden;
}
</style>
<script
	src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<!-- <script src="https://developers.kakao.com/sdk/js/kakao.js"></script> -->

<!-- 우편번호api -->
<script>
	function sample6_execDaumPostcode() {
		new daum.Postcode(
				{
					oncomplete : function(data) {

						var addr = '';
						var extraAddr = '';
						if (data.userSelectedType === 'R') {
							addr = data.roadAddress;
						} else {
							addr = data.jibunAddress;
						}

						if (data.userSelectedType === 'R') {
							if (data.bname !== ''
									&& /[동|로|가]$/g.test(data.bname)) {
								extraAddr += data.bname;
							}
							if (data.buildingName !== ''
									&& data.apartment === 'Y') {
								extraAddr += (extraAddr !== '' ? ', '
										+ data.buildingName : data.buildingName);
							}
							if (extraAddr !== '') {
								extraAddr = ' (' + extraAddr + ')';
							}
							//document.getElementById("sample6_extraAddress").value = extraAddr;

						} else {
							//document.getElementById("sample6_extraAddress").value = '';
						}

						document.getElementById('sample6_postcode').value = data.zonecode;
						document.getElementById("sample6_address").value = addr
								+ extraAddr;
						document.getElementById("sample6_detailAddress")
								.focus();

					}
				}).open();
	}
</script>

<script>
	$(document).ready(function() {
		$('#user-input').attr('disabled', 'disabled');
		$('#updatebtn').attr('disabled', 'disabled');

		$('#edit_activate').click(function() {
			$('#edit_activate').attr('disabled', 'disabled');
			$('#user-input').removeAttr('disabled', 'disabled');
			$('#updatebtn').removeAttr('disabled', 'disabled');

		});

		$('#updatebtn').click(function() {
			$('#user').attr({
				'method' : 'post',
				'action' : 'updateimpl'
			});
			$('#user').submit();
			alert('재로그인 후 변경내용이 반영됩니다.');
		});
	});
</script>

<div class="container mt-5">
	<div class="row flex-lg-nowrap">
		<div class="col mypage-main mt-5">
			<div class="row">
				<div class="col mb-5">
					<h5>프로필 정보</h5>
					
					<div class="card">
						<div class="card-body">
							<form class="form" id="user">
								<div class="tab-content pt-3">
									<div class="tab-pane active">
										<div class="row">
											<div class="col">
												<div class="row">
													<div class="col">
														<div class="form-group">
															<label>이름</label> <input class="form-control" type="text"
																name="name" th:value="${trainee.name}">
														</div>
													</div>
													<div class="col">
														<div class="form-group">
															<label>휴대폰번호</label> <input class="form-control"
																type="text" name="phone" th:value="${trainee.phone}">
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-12 col-sm-6 mt-2">
											<div class="row">
												<div class="col">
													<div class="form-group">
														<input type="text" class="form-control"
															id="sample6_postcode" placeholder="우편번호 *" name="zip"
															th:value="${trainee.zip}"> <input type="button"
															class="btn btn-warning"
															onclick="sample6_execDaumPostcode()" value="우편번호 찾기">
													</div>
													<div class="form-group">
														<input type="text" class="form-control"
															id="sample6_address" placeholder="주소 *" name="addr1"
															th:value="${trainee.addr1}">
													</div>
													<div class="form-group">
														<input type="text" placeholder="상세주소 *"
															class="form-control" id="sample6_detailAddress"
															name="addr2" th:value="${trainee.addr2}" />
													</div>
												</div>
											</div>
										</div>
										<div class="col-12 col-sm-6 mt-2">
											<div class="row">
												<div class="col">
													<div class="form-group">
														<label>아이디</label> <input class="form-control" readonly
															type="ID" th:value="${trainee.id}" name="id">
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col">
													<div class="form-group">
														<label>Email</label> <input class="form-control"
															type="text" name="email" th:value="${trainee.email}"
															placeholder="user@example.com">
													</div>
													<div class="form-group mt-3">
														<a href="techangepwd">비밀번호 변경</a>
													</div>
												</div>
											</div>
											<div class="col d-flex justify-content-end mt-5">
												<button class="btn btn-primary mr-3" id="edit_activate">계정정보
													편집</button>
												<button class="btn btn-primary" id="updatebtn">변경내용
													저장</button>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>