<div class="tab-content pt-3">
	<div class="tab-pane active">
		<form class="form" novalidate="">
			<div class="row">
				<div class="col">
					<div class="row">
						<div class="col">
							<div class="form-group">
								<label>trcareer</label> <input class="form-control" type="text"
									name="name" placeholder="John Smith" value="John Smith">
							</div>
						</div>
						<div class="col">
							<div class="form-group">
								<label>Username</label> <input class="form-control" type="text"
									name="username" placeholder="johnny.s" value="johnny.s">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="form-group">
								<label>Email</label> <input class="form-control" type="text"
									placeholder="user@example.com">
							</div>
						</div>
					</div>
					
				</div>
			</div>
		
			<div class="row">
				<div class="col d-flex justify-content-end">
					<button class="btn btn-primary" type="submit">Save Changes</button>
				</div>
			</div>
		</form>

	</div>
</div>