<div class="tab-content pt-3">
	<div class="tab-pane active">
		<form class="form" novalidate="">
			<div class="row">
				<div class="col">
					<div class="row">
						<div class="col mb-3">
							<div class="form-group">
								<h5 class="">이용내역</h5>
								<div style="height:35em;" class="mt-4">
									<div class="row">
										<table class="table csl trainer">
											<thead th:if="@{trhistory(tid=${session.logincust.id}) != null}">
												<tr>
													<th>no.</th>
													<th>신청일</th>
													<th>신청자</th>
													<th>상담 희망일</th>
													<th>신청</th>
													<th>상담</th>
													<th></th>
												</tr>
											</thead>
											<tbody th:each="csl : ${csl}">
												<tr>
													<td th:text="${csl.id}"></td>
													<td
														th:text="${#dates.format(csl.csl_regdate, 'yyyy-MM-dd')}"></td>
													<td th:text="${csl.uname}"></td>
													<td><span
														th:text="${#dates.format(csl.csl_date, 'yyyy-MM-dd')} + ' '"></span>
														<span th:text="${csl.csl_time}"></span></td>
													<td><span name="csl_read" th:text="${csl.csl_read}"></span></td>
													<td><span name="csl_progress" th:text="${csl.csl_progress}"></span></td>	
												</tr>
											</tbody>
										</table>
										<div class="no_csl col-12 mt-4" th:if="@{trhistory(tid=${session.logincust.id}) == null}">
											<h4 class="text-center">아직 이용내역이 없습니다</h4>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>

		<!-- 	<div class="row">
				<div class="col d-flex justify-content-end">
					<button class="btn btn-primary" type="submit">Save Changes</button>
				</div>
			</div> -->
		</form>

	</div>
</div>