<style>

</style>
<script>
	/* $(document).ready(function() {
		$('#updateprofile1').click(function() {
			$('.trainerpf1').attr({
				'enctype' : 'multipart/form-data',
				'method' : 'post',
				'action' : 'update'
			});
			$('.trainerpf1').submit();
		});
	}); */
</script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<div class="container mt-5">
	<div class="row flex-lg-nowrap">
		<div class="col-12 col-lg-auto mb-3" style="width: 200px;">
			<div class="card mt-5 p-3">
				<div class="e-navlist e-navlist--active-bg">
					<ul class="nav">
						<li class="nav-item"><a class="nav-link px-2 active"
							href="/trmypage"><i class="fa fa-fw fa-user mr-1"></i><span>계정</span></a></li>
						<li class="nav-item"><a class="nav-link px-2"
							href="/trprofile"><i class="fa fa-fw fa-id-card mr-1"></i><span>프로필
							</span></a></li>
							
						<li class="nav-item"><a class="nav-link px-2"
							href="https://www.bootdey.com/snippets/view/bs4-edit-profile-page"
							target="__blank"><i class="fab fa-maxcdn mr-1"></i><span>매칭신청</span></a></li>
							
						<li class="nav-item"><a class="nav-link px-2"
							href="https://www.bootdey.com/snippets/view/bs4-edit-profile-page"
							target="__blank"><i class="fa fa-fw fa-history mr-1"></i><span>이용내역</span></a></li>
					
					
					</ul>
				</div>
			</div>
		</div>

		<div class="col mypage-main">
			<div class="row">
				<div class="col mb-3">
					<div class="card mt-5">
						<div class="card-body">
							<div class="e-profile">
								<div class="row">
									<div class="col-12 col-sm-auto mb-3">
										<div class="mx-auto" style="width: 140px;">
											<div
												class="d-flex justify-content-center align-items-center rounded"
												style="height: 140px; width: 140px; background-color: rgb(233, 236, 239);">
												<img th:src="@{'/images/CRUD/pf1/'+${trainer.profile1}}"
													style="height: 140px; width: 140px">
												<!-- <span
													style="color: rgb(166, 168, 170); font: bold 8pt Arial;">140x140</span> -->
											</div>
										</div>
									</div>
									<div
										class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
										<div class="text-center text-sm-left mb-2 mb-sm-0">
											<h4 class="pt-sm-2 pb-1 mb-0 text-nowrap"
												th:text="${trainer.name}">John Smith</h4>
											<p class="mb-0" th:text="'@' + ${trainer.id}">@tid01</p>
											<div class="text-muted">
												<small>Last seen 2 hours ago</small>
											</div>
											<div class="mt-2">
												<button class="btn btn-primary" id="updatebtn" type="button"
												data-toggle="modal" data-target="#myModal">
													<i class="fa fa-fw fa-camera"></i> <span>대표 프로필 변경</span>
												</button>
												
											</div>

											<!-- The Modal -->
											<div class="modal" id="myModal">
												<div class="modal-dialog">
													<div class="modal-content trainerpf1">

														<!-- Modal Header -->
														<div class="modal-header">
															<h4 class="modal-title">대표 프로필</h4>
															<button type="button" class="close" data-dismiss="modal">&times;</button>
														</div>

														<!-- Modal body -->
														<div class="modal-body"><input type="file" name="profile1"
														 th:value="${trainer.profile1}"></div>

														<!-- Modal footer -->
														<div class="modal-footer ">
														<button type="button" class="btn btn-secondary"
																data-dismiss="modal">닫기</button>
															<button type="button" class="btn btn-primary"
																id="updateprofile1">변경하기</button>
														</div>

													</div>
												</div>
											</div>


										</div>
										<div class="text-center text-sm-right">
											<span class="badge badge-secondary"
												th:text="${trainer.level}">trainer</span>
											<div class="text-muted">
												<small th:text="'Joined ' + ${trainer.regdate}">Joined
													09 Dec 2017</small>
											</div>
										</div>
									</div>
								</div>

								<!-- 여기부터 -->
								<div
									th:replace="${trainercenter} ? ${trainercenter} : trprofile"></div>

							</div>
						</div>
					</div>
				</div>


			</div>

		</div>
	</div>
</div>