<script>
	$(document).ready(function() {
		$('#updateprofile').click(function() {
			$('.trprofile').attr({
				'enctype' : 'multipart/form-data',
				'method' : 'post',
				'action' : 'trprofile_update'
			});
			$('.trprofile').submit();
		});
	});
</script>

<div class="e-profile">
	<div class="row">
		<div class="col-12 col-sm-auto mb-3">
			<div class="mx-auto" style="width: 140px;">
				<div
					class="d-flex justify-content-center align-items-center rounded"
					style="height: 140px; width: 140px; background-color: rgb(233, 236, 239);">
					<img th:src="@{'/images/CRUD/pf1/'+${trainer.profile1}}"
						style="height: 140px; width: 140px">
					<!-- <span
													style="color: rgb(166, 168, 170); font: bold 8pt Arial;">140x140</span> -->
				</div>
			</div>
		</div>
		<div
			class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
			<div class="text-center text-sm-left mb-2 mb-sm-0">
				<h4 class="pt-sm-2 pb-1 mb-0 text-nowrap" th:text="${trainer.name}">John
					Smith</h4>
				<p class="mb-0" th:text="'@' + ${trainer.id}">@tid01</p>
				<div class="text-muted">
					<small>Last seen 2 hours ago</small>
				</div>
				<!-- 	<div class="mt-2">
												<button class="btn btn-primary" id="updatebtn" type="button"
												data-toggle="modal" data-target="#myModal">
													<i class="fa fa-fw fa-camera"></i> <span>대표 프로필 변경</span>
												</button>
												
											</div>
 -->
				<!--
											<div class="modal" id="myModal">
												<div class="modal-dialog">
													<form class="modal-content trainerpf1">

														Modal Header
														<div class="modal-header">
															<p class="modal-title">대표 프로필을 선택하세요</p>
															<button type="button" class="close" data-dismiss="modal">&times;</button>
														</div>

														Modal body
														<div class="modal-body ">
															<input type="file" name="pf1">
														</div>

														Modal footer
														<div class="modal-footer ">
															<button type="button" class="btn btn-secondary"
																data-dismiss="modal">닫기</button>
															<button type="button" class="btn btn-primary"
																id="updateprofile1">변경하기</button>
														</div>

													</form>
												</div>
											</div> -->


			</div>
			<div class="text-center text-sm-right">
				<span class="badge badge-secondary" th:text="${trainer.level}">trainer</span>
				<div class="text-muted">
					<small th:text="'Joined ' + ${trainer.regdate}">Joined 09
						Dec 2017</small>
				</div>
			</div>
		</div>
	</div>

	<div class="tab-content pt-3">
		<div class="tab-pane active">
			<form class="form trprofile" novalidate="">
				<div class="row">
					<div class="col">
						<div class="row">
							<div class="col mb-3">
								<label>프로필</label>
								<div class="form-group">

									<img class="mr-2"
										th:src="@{'/images/CRUD/pf1/'+${trainer.profile1}}"
										style="height: 240px; width: 220px"> <img class="mr-2"
										th:src="@{'/images/CRUD/pf2/'+${trainer.profile2}}"
										style="height: 230px; width: 210px"> <img
										th:src="@{'/images/CRUD/pf3/'+${trainer.profile3}}"
										style="height: 220px; width: 200px">
								</div>
								<div class="form-group">
									<label>자기소개글</label>
									<textarea class="form-control" rows="4"
										th:text="${trainer.intro}"></textarea>
								</div>
								<div class="form-group">
									<label>경력</label>
									<textarea class="form-control" rows="3"
										th:text="${trainer.career}"></textarea>
								</div>
							</div>
						</div>

					</div>
				</div>

				<div class="row">
					<div class="col d-flex justify-content-end">
						<button class="btn btn-primary" id="updateprofile" type="submit">프로필 업데이트
							</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>