<div class="tab-content pt-3">
	<div class="tab-pane active">
		<form class="form" novalidate="">
			<div class="row">
				<div class="col">
					
					<div class="row">
						<div class="col mb-3">
							<div class="form-group">
								<label>자기소개글</label>
								<textarea class="form-control" rows="4" th:text="${trainer.intro}"></textarea>
							</div>
							<div class="form-group">
								<label>경력</label>
								<textarea class="form-control" rows="3" th:text="${trainer.career}"></textarea>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		
			<div class="row">
				<div class="col d-flex justify-content-end">
					<button class="btn btn-primary" type="submit">Save Changes</button>
				</div>
			</div>
		</form>

	</div>
</div>