<head>

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
	integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="/css/argon-dashboard.css">
<link href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap" rel="stylesheet">
<link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css">
<style>
	
	body{
		font-family:Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
		background-image:url('/images/match/matching_background.jpg');
	}
	#navbar{
		justify-content:space-between;
		
	}
	
	#navbar a{
		color:#fff !important;
		font-weight:bold;
	}
	
	#nav_match i{
		margin-right:10px;
	}
	
	#span_currentdate{
		color:#fff;
		font-weight:bold;
	}
	
	#div_currentdate{
		margin-left:0 !important;
	}
	
	#div_matchheader .card{
		justify-content:space-between;
		
	}
	
	@media(min-width:1200px){
		#div_matchheader .card{
			min-height:111.89px !important;
		}
	}
	
	#div_profileicon p{
		color:black !important;
		font-size:3rem;
		margin-top:0.5rem;
		margin-bottom:0;
	}
	
	.div_card.profile{
		justify-content:space-between;
	}
	
	.div_card .profilemessage{
		font-size:0.9rem;
	}
	
	#div_quote{
		text-align:center !important;
		justify-content:center;
 		align-items: center;
  		display:flex;
  		padding:0.7rem !important;
	}
	
	#div_quotetext{
		text-align:center !important;
		justify-content:center;
	}
	
	.quote{
		font-family:'Space Mono', monospace;
		font-size:1rem;
		text-align:center;
		color:black;
	}
	
	.quote-author{
		margin-bottom:0;
		font-size:0.8rem;
		color:#769BCD;
	}
	
	#div_maincsl{
		overflow-x:hidden;
	}
	
	.chart.border{
		padding:1rem;
		text-align:center;
		max-height:300px;
		overflow-y:scroll;
	}
		
	.chart.border table{
		text-align:center;
	}
	
	#div_csldetail{
		margin:0.2rem;
		padding-left:1.5rem;
		padding-right:1.5rem;
		text-align:center;
		display:flex;
		justify-content:space-between;
		
	}

	#div_csldetail p{
		color:black !important;
	}
	
	.csl_info{
		background-color:#F5F9FC;
	}
	
	.chart.border.chat{
		overflow:hidden;
	}
	
	#btn_startchat:hover{
		cursor:pointer;
	}
	
	
	#btn_submitChat{
		width:100%;
		height:30px;
		border:1.5px solid black;
		border-radius:0.2rem;
		background:linear-gradient(#fff, #D5D5D5);
		font-family:'Galmuri11', sans-serif;
		
	}
	
	#btn_submitChat:hover{
		color:#fff;
		background:linear-gradient(#769BCD, #84A5EA);
		cursor:pointer;
	}
	
	#div_chatEach{
		height:240px;
		overflow-y:scroll;
	}
	
	.chat_mine{
		background-color:#e3effd;
		max-width:300px;
		margin-left:auto;
		margin-right:0.5rem;
		padding-right:0.5rem;
		border-radius:15px;
		text-align:right;
	}
	
	.chat_notmine{
		background-color:#f6f6f6;
		max-width:300px;
		margin-right:auto;
		margin-left:0.5rem;
		padding-left:0.5rem;
		border-radius:15px;
		text-align:left;
	}
	
	.chat_name p{
		font-size:0.9rem !important;
		margin-bottom:0.5rem;
	}
	
	.chat_name.mine{
		text-align:right;
		padding-right:0.5rem;
	}
	
	.chat_name.notmine{
		text-align:left;
		padding-left:0.5rem;	
	}
	
	.chattext{
		color:black;
		padding:0.5rem;
	}
	
	#div_chatText{
		justify-content:center;
	}
	
	textarea{
		overflow-y:hidden;
		margin-bottom:10px;
		margin-right:auto;
		width:100%;
		display:block;
		border-radius:5px;
	}
	
	textarea:focus{
		border:1.6px solid #B8CDFA;
		border-radius:5px;
		outline:none;
	}



</style>

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/webjars/sockjs-client/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/stomp.min.js"></script>

<script th:inline="javascript">
	var stompClient = null;
	var custName = [[${logincust.name}]];
	var chatroomId = 0;


	function getQuotes(){
		const settings = {
				'async': true,
				'crossDomain': true,
				'url': 'https://type.fit/api/quotes',
				'method': 'GET'
		}
		
		$.ajax(settings).done(function(response){
			const data = JSON.parse(response);
			var quoteNum = Math.floor(Math.random() * (data.length + 1));
			var quote = data[quoteNum];
			
			if(quote.author == null){
				quote.author = 'Unknown';
			}
			
			$('#div_quotetext').append('<p class="quote text">' + quote.text + '</p>');
			$('#div_quotetext').append('<p class="quote quote-author">' + quote.author + '</p>');
			
		});
	}

	function displayDateTime(result){
		var data = JSON.parse(result);
		var now = data[0];
		
		const weekdayArr = ['월', '화', '수', '목', '금', '토', '일'];
		var weekdayNum = parseInt(now.day);
		
		var nowHour = '0' + now.hour;
		var nowMinute = '0' + now.minute;
		var nowSecond = '0' + now.second;
		
		
		$('#span_currentdate').text(now.year + '년 ' + now.month + '월 ' + now.date + '일 (' + weekdayArr[weekdayNum] + ') '
				+ nowHour.slice(-2) + ':' + nowMinute.slice(-2) + ':' + nowSecond.slice(-2));
	}

	function currentDateTime(){
		$.ajax({
			url:'getTime',
			success:function(result){
				displayDateTime(result);
			}
		});
	}
	
	function toggleDetail(id){
		$('.' + id).slideToggle(200, "swing");
	}
	
	/* Chat */
	function startChat(roomId, name){
		
		disconnectChat();
		
		var socket = new SockJS('/ws');
		stompClient = Stomp.over(socket);
		stompClient.connect({}, function(frame){
			stompClient.subscribe('/room/'+roomId, function(chatMessage){
				showMessage(JSON.parse(chatMessage.body));
				console.log('connected' + frame);
			});
			
			var enterMessage = ' 님이 입장하셨습니다.';
			stompClient.send("/send/" + chatroomId, {},
					JSON.stringify({
						'messageType':'ENTER',
						'sender':custName,
						'message':enterMessage
					})
			);
			//enterChat(JSON.parse(chatMessage.body));
			
			
		});
		$('#span_chatGuide').text(name + '님과의 채팅방입니다.');
		$('#div_chatText').show();
		chatroomId = roomId;
	}
	
	function disconnectChat(){
		if(stompClient !== null){
			
			var exitMessage = ' 님이 퇴장하셨습니다.';
			stompClient.send("/send/" + chatroomId, {},
					JSON.stringify({
						'messageType':'EXIT',
						'sender':custName,
						'message':exitMessage
					})
			);
			stompClient.disconnect();
		}
		
		$('#div_chatEach').empty();
	}
	
	
	function showMessage(chatMessage){
		
		if(chatMessage.messageType == "ENTER" || chatMessage.messageType == "EXIT"){
			$('#div_chatEach').append(
					'<div><p class="chattext">'+'[' + chatMessage.sender + ']' + chatMessage.message + '</p></div>'		
			);
		}else{
			if(chatMessage.sender == custName){
				$('#div_chatEach').append(
					'<div class="chat_name mine"><p>' + chatMessage.sender + '</p></div>' +
					'<div class="chat_mine"><p class="chattext">' + chatMessage.message + '</p></div>'		
				);
			}else{
				$('#div_chatEach').append(
					'<div class="chat_name notmine"><p>' + chatMessage.sender + '</p></div>' +
					'<div class="chat_notmine"><p class="chattext">' + chatMessage.message + '</p></div>'		
				);
			}
		}
		$("#div_chatEach").scrollTop($("#div_chatEach")[0].scrollHeight);
	}
	
	function sendChat(chatroomId){
		var message = $('textarea[name="chatMessage"]').val();
		
		if(message.trim() == ''){
			$('textarea[name="chatMessage"]').focus();
			return;
		}
		
		stompClient.send("/send/" + chatroomId, {},
				JSON.stringify({
					'messageType':'TALK',
					'sender':custName,
					'message':message
		}));
		
		$('textarea[name="chatMessage"]').val('');
	}
	
	function cslReadUpdate(id){
		
		let newCslState = $('#selectread' + id).val();
		let cslAllow = confirm("상담 신청 상태를 " + newCslState + "(으)로 변경하시겠습니까?");
		if(cslAllow == true){
			$.ajax({
				url:'/updateCslStatus',
				async:false,
				data:{
					'id':id,
					'status':newCslState
				}
			});
		}
		location.reload();
	}
	
	function cslMatchUpdate(id){
		let newCslMatch = $('#selectmatch' + id).val();
		let cslMatchAllow = confirm("매칭 상태를 " + newCslMatch + "(으)로 변경하시겠습니까?");
		if(cslMatchAllow == true){
			$.ajax({
				url:'/updateMatchStatus',
				async:false,
				data:{
					'id':id,
					'status':newCslMatch
				}
			});
		}
		location.reload();
	}
	

	$(function(){
		setInterval(() => currentDateTime(), 1000);
		getQuotes();
		
		$('#btn_submitChat').click(function(){
			sendChat(chatroomId);
		});
		
		$('textarea[name="chatMessage"]').on('keydown',function(event){
			if(event.keyCode === 13){
				event.preventDefault();
				sendChat(chatroomId);
			}
		});
		
	
		
	});
	
	
</script>
</head>

<body class="g-sidenav-show bg-gray-100">
  <div class="min-height-300 bg-primary position-absolute w-100"></div>
 
  <main class="main-content position-relative border-radius-lg ">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl " id="navbarBlur" data-scroll="false">
      <div class="container-fluid py-1 px-3">
        
        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
        
			<div class="ms-md-auto pe-md-3 d-flex" id="div_currentdate">
				<span id="span_currentdate"></span>
			</div>
			
			<div class="ms-md-auto pe-md-3 d-flex align-items-center">
				<ul class="navbar-nav justify-content-end" id="nav_match">
					<li class="nav-item d-flex align-items-center">
						<a href="javascript:;" class="nav-link text-white font-weight-bold px-0">
							<i class="fa-solid fa-house"></i>
							<span class="d-sm-inline d-none"><a class="text-dark" href="/">홈으로 돌아가기</a></span>
						</a>
					</li>
				</ul>
            </div> 
            
        </div>
      </div>
    </nav>
    <!-- End Navbar -->
    
    <div class="container-fluid py-2">
    
    <!-- Header Start -->
	      <div class="row" id="div_matchheader">
	      
	        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
	          <div class="card">
	            <div class="card-body p-3">
	             
	                  <div class="numbers">
	                    <p class="text-sm mb-0 text-uppercase font-weight-bold">상담 현황</p>
	                    <h6 class="font-weight-bolder">
	                     2022-07-28 목요일 15:30
	                    </h6>
	              
	                    	<div class="row">
	                    		<div class="col-4">
	                    			<span>신규: </span>
	                    			<span th:text="${cslCnt.cslnew}"></span>
	                    		</div>
	                    		
	                    		<div class="col-4">
	                    			<span>매칭:</span>
	                    			<span th:text="${cslCnt.cslcompleted}"></span>
	                    		</div>
	                    	</div>
	                  </div>
	               
	            </div>
	          </div>
	        </div>
	        
	        <!-- Quote Start -->
	        <div class="col-xl-6 col-sm-6 mb-xl-0 mb-4">
	          <div class="card div-quote">
	            <div class="card-body p-3" id="div_quote">
	              <div id="div_quotetext">
	              	
	              
	              </div>
	            </div>
	          </div>
	        </div>
	        <!-- Quote End -->
	        
	        <!-- Trainer/Trainee Information Start -->
		        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
		          <div class="card">
		            <div class="card-body p-3">
		              
		                <div class="div_card profile">
		                	<div class="row">
			                    <div class="numbers col-8">
				                    <p class="text-sm mb-0 text-uppercase font-weight-bold" th:if="${logincust.level == '트레이너'}" th:text="${logincust.level}"></p>
				                    <h5 class="font-weight-bolder" th:text="${logincust.name}"></h5>
				                    <p class="mb-0 profilemessage" th:if="${logincust.level == '트레이너'}" th:text="${logincust.major}"></p>
				                    <p class="mb-0 profilemessage" th:if="${logincust.level == '일반회원'}" th:text="'오늘도 힘내서 운동해 보아요!'"></p>
			                    </div>
			                    <div id="div_profileicon" class="col-3">
			                    	<div>
			                 		 	<p><i class="fa-solid fa-heart-pulse"></i></p>
			                 		 </div>
			               		 </div>
		               		 </div>
		             	</div>
		             	
		            </div>
		          </div>
		        </div>
	        <!-- Trainer/Trainee Information End -->
	        
	      </div>
      <!-- Header End-->
      
      
      <div class="row mt-4">
      
			<div class="col-lg-6 mb-lg-0 mb-4" id="div_maincsl">
				<div class="card z-index-2 h-100">
		            <div class="card-header pb-0 pt-3 bg-transparent">
			              <h6 class="text-capitalize">상담 신청 내역</h6>
			              <p class="text-sm mb-0">
			                <span class="font-weight-bold">&#42; 내역을 클릭하면 자세한 정보를 확인할 수 있어요.</span>
			              </p>
			              <p class="text-sm mb-0">
			                <span class="font-weight-bold">&#42; [신청]이 '수락'되면, 말풍선 아이콘을 클릭해서 채팅할 수 있어요.</span>
			              </p>
			              <p class="text-sm mb-0">
			                <span class="font-weight-bold">&#42; 상담 후 [매칭]을 '완료'로 변경하면 후기를 작성할 수 있어요.</span>
			              </p>
			         </div>
			         <div class="card-body p-3">
			              <div class="chart border csl" style="height:300px;">
			              
			              
			              <!-- Trainer CSL Start -->
			              <div th:if="${not #lists.isEmpty(cslList)} and ${session.logincust.level == '트레이너'}">
				              	<div class="row">
				              	
				              		
				              		<table class="table csl trainer">
				              			<thead>
				              				<tr><th>신청일</th><th>신청자</th><th>상담 희망일</th><th>신청</th><th>매칭</th><th>채팅</th></tr>
				              			</thead>
				              			<tbody th:each="csl : ${cslList}">
				              				<tr th:onclick="toggleDetail([[${csl.id}]])">
				              					<td th:text="${#dates.format(csl.csl_regdate, 'yyyy-MM-dd')}"></td>
				              					<td th:text="${csl.uname}"></td>
				              					<td>
				              						<span th:text="${#dates.format(csl.csl_date, 'yyyy-MM-dd')} + ' '"></span>
				              						<span th:text="${csl.csl_time}"></span>
			              						</td>
				              					<td>
				              						<select th:id="'selectread' + ${csl.id}" th:onchange="cslReadUpdate([[${csl.id}]])">
				              							<option th:selected="${csl.csl_read == '대기중'}" value="대기중">대기중</option>
				              							<option th:selected="${csl.csl_read == '수락'}" value="수락">수락</option>
				              							<option th:selected="${csl.csl_read == '거절'}" value="거절">거절</option>
				              						</select>
				              					</td>
				              					<td>
				              						<select th:id="'selectmatch' + ${csl.id}" th:if="${csl.csl_read == '수락'}" th:onchange="cslMatchUpdate([[${csl.id}]])">
				              							<option th:selected="${csl.matching_status == '대기중'}" value="대기중">대기중</option>
				              							<option th:selected="${csl.matching_status == '완료'}" value="완료">완료</option>
				              						</select>
			              						</td>
			              						<td>
				              						<i class="fa-solid fa-comments" id="btn_startchat"
				              						 th:if="${csl.csl_read == '수락'}" th:onclick="startChat([[${csl.id}]], [[${csl.uname}]])"></i>
			              						</td>
				              				</tr>
				              				
				              				<tr class="csl_info" >
				              					<td colspan="6" th:classappend="${csl.id}" style="display:none;">
				              						<div id="div_csldetail" class="row" th:classappend="'div' + ${csl.id}">
				              						
				              							<div class="col-2 csl_detail">
				              								<span>연령: </span><span th:text=${csl.age}></span>
				              							</div>
				              							
				              							<div class="col-2 csl_detail">
				              								<span>성별: </span><span th:text=${csl.gender}></span>
				              							</div>
				              							
				              							<div class="col-2 csl_detail">
				              								<span>목적: </span><span th:text=${csl.purpose}></span>
				              							</div>
				              							
				              							<div class="col-2 csl_detail">
				              								<span>빈도: </span><span th:text=${csl.frequency}></span>
				              							</div>
				              						</div>
				              					</td>
				              				</tr>
				              			</tbody>
				              		</table>
				              	</div>
			              	</div>
			              <!-- Trainer CSL End -->
			              
            			  <!-- Trainee CSL Start -->
			              <div th:if="${not #lists.isEmpty(cslList)} and ${session.logincust.level == '일반회원'}">
				              	<div class="row">
				              	
				              		
				              		<table class="table csl trainer">
				              			<thead>
				              				<tr><th>신청일</th><th>트레이너</th><th>상담 희망일</th><th>신청</th><th>매칭</th><th>채팅</th></tr>
				              			</thead>
				              			<tbody th:each="csl : ${cslList}">
				              				<tr th:onclick="toggleDetail([[${csl.id}]])">
				              					<td th:text="${#dates.format(csl.csl_regdate, 'yyyy-MM-dd')}"></td>
				              					<td th:text="${csl.tname}"></td>
				              					<td>
				              						<span th:text="${#dates.format(csl.csl_date, 'yyyy-MM-dd')} + ' '"></span>
				              						<span th:text="${csl.csl_time}"></span>
			              						</td>
				              					<td th:text="${csl.csl_read}"></td>
				              					<td>
				              						<select th:id="'selectmatch' + ${csl.id}" th:if="${csl.csl_read == '수락'}" th:onchange="cslMatchUpdate([[${csl.id}]])">
				              							<option th:selected="${csl.matching_status == '대기중'}" value="대기중">대기중</option>
				              							<option th:selected="${csl.matching_status == '완료'}" value="완료">완료</option>
				              						</select>
			              						</td>
			              						<td>
				              						<i class="fa-solid fa-comments" id="btn_startchat"
				              						 th:if="${csl.csl_read == '수락'}" th:onclick="startChat([[${csl.id}]], [[${csl.uname}]])"></i>
			              						</td>
				              				</tr>
				              				
				              				<tr class="csl_info" >
				              					<td colspan="6" th:classappend="${csl.id}" style="display:none;">
				              						<div id="div_csldetail" class="row" th:classappend="'div' + ${csl.id}">
				              						
				              							<div class="col-2 csl_detail">
				              								<span>연령: </span><span th:text=${csl.age}></span>
				              							</div>
				              							
				              							<div class="col-2 csl_detail">
				              								<span>성별: </span><span th:text=${csl.gender}></span>
				              							</div>
				              							
				              							<div class="col-2 csl_detail">
				              								<span>목적: </span><span th:text=${csl.purpose}></span>
				              							</div>
				              							
				              							<div class="col-2 csl_detail">
				              								<span>빈도: </span><span th:text=${csl.frequency}></span>
				              							</div>
				              						</div>
				              					</td>
				              				</tr>
				              			</tbody>
				              		</table>
				              	</div>
			              	</div>
			              <!-- Trainee CSL End -->
			              
			              
			              </div>
		            </div>
				</div>
			</div>
      
        <div class="col-lg-6 mb-lg-0 mb-4">
          <div class="card z-index-2 h-100">
            <div class="card-header pb-0 pt-3 bg-transparent">
              <h6 class="text-capitalize">채팅</h6>
              <p class="text-sm mb-0">
                <span id="span_chatGuide" class="font-weight-bold">좌측에서 채팅 상대를 선택하세요!</span>
              </p>
            </div>
            <div class="card-body p-3">
              <div class="chart border chat" style="height:300px;">
              	<div id="div_chatEach">
              	
              	</div>

			
              	<div id="div_chatText" class="row" style="display:none;">
              		<div class="col-9" style="justify-content:right;padding-right:0;display:flex;">
              			<textarea type="text" name="chatMessage" rows="1"></textarea>
              		</div>
              		<div class="col-3" style="padding-left:0;">
              			<button id="btn_submitChat" style="justify-content:left;">
              				<span>보내기</span>
           				</button>
              		</div>
              			
              		
              			
              		
				</div>


              </div>
            </div>
          </div>
        </div>
        
      </div>
      
      <footer class="footer pt-3  ">
        <div class="container-fluid">
          <div class="row align-items-center justify-content-lg-between">
            <div class="col-lg-6 mb-lg-0 mb-4">
              <div class="copyright text-center text-sm text-muted text-lg-start">
                © <script>
                  document.write(new Date().getFullYear())
                </script>,
                made with <i class="fa fa-heart"></i> by
                <a href="https://www.creative-tim.com" class="font-weight-bold" target="_blank">Creative Tim</a>
                for a better web.
              </div>
            </div>
            <div class="col-lg-6">
              <ul class="nav nav-footer justify-content-center justify-content-lg-end">
                <li class="nav-item">
                  <a href="https://www.creative-tim.com" class="nav-link text-muted" target="_blank">Creative Tim</a>
                </li>
                <li class="nav-item">
                  <a href="https://www.creative-tim.com/presentation" class="nav-link text-muted" target="_blank">About Us</a>
                </li>
                <li class="nav-item">
                  <a href="https://www.creative-tim.com/blog" class="nav-link text-muted" target="_blank">Blog</a>
                </li>
                <li class="nav-item">
                  <a href="https://www.creative-tim.com/license" class="nav-link pe-0 text-muted" target="_blank">License</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </main>
</body>





