#div_chatbot body {
  margin: 0;
  padding: 0;
   background-color: #f6f7f9;
}

#div_chatbot h1 {
  margin-left: 25px;
  font-size: 16px;
  line-height: 1;
  font-weight:bold;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color:#769BCD;
}

#div_chatbot button {
  color: inherit;
  background-color: transparent;
  border: 0;
  outline: 0 !important;
  cursor: pointer;
}
#div_chatbot button.chatbox-open {
  position: fixed;
  bottom: 3rem;
  right: 2rem;
  width: 60px;
  height: 60px;
  color: #769BCD;
  background-color: #fff;
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.15);
  border:1px solid #DCDCDC;
  border-radius: 50%;
  cursor: pointer;
  margin: 16px;
}
#div_chatbot button.chatbox-close {
  position: fixed;
  bottom: 3rem;
  right: 4rem;
  width: 60px;
  height: 60px;
  color:#769BCD;
  background-color:#fff;
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.15);
  border:1px solid #DCDCDC;
  border-radius: 50%;
  cursor: pointer;
  display: none;
  margin: 16px calc(2 * 16px + 52px) 16px 16px;
}

#div_chatbot textarea {
  position: fixed;
  bottom:10rem;
  box-sizing: border-box;
  max-width:230px;
  width: 70%;
  margin: 0;
  height: calc(16px + 16px / 2);
  padding: 0 calc(16px / 2);
  font-family: inherit;
  font-size: 16px;
  line-height: calc(16px + 16px / 2);
  color: #888;
  background-color: none;
  border: 0;
  outline: 0 !important;
  resize: none;
  overflow-y:scroll;
}
#div_chatbot textarea::-moz-placeholder {
  color: #888;
}
#div_chatbot textarea:-ms-input-placeholder {
  color: #888;
}
#div_chatbot textarea::placeholder {
  color: #888;
}

#div_chatbot .chatbox-popup {
  position: fixed;
  display: flex;
  box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2);
  flex-direction: column;
  display: none;
  bottom: calc(2 * 16px + 52px);
  right: 16px;
  width: 100px;
  height: auto;
  background-color: #fff;
  border-radius: 16px;
}
#div_chatbot .chatbox-popup .chatbox-popup__header {
  position: fixed;	
  bottom:31.5rem;
  right:5rem;
  box-sizing: border-box;
  display: flex;
  max-width:300px;
  width: 70%;
  padding: 13px 16px 30px 16px;
  color: #769BCD;
  background-color:#fff;
  align-items: center;
  justify-content: space-around;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  box-shadow:0 -5px 5px -5px #769BCD, -5px 0 5px -5px #769BCD, 5px 0 5px -5px #769BCD;
}

 #btn_exit i{
	color:#769BCD !important;
}

#div_chatbot .chatbox-popup .chatbox-popup__main {
  max-width:300px;
  height:320px;
  width: 70%;
  position: fixed;
  right:5rem;
  bottom:12.1rem;
  box-sizing: border-box;
  padding: 6px 16px;
  line-height: calc(16px + 16px / 2);
  color: black;
  font-size:0.85rem;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif !important;
 
  text-align: center;
  background-color:#fff;
   box-shadow: -5px 0 5px -5px #769BCD, 5px 0 5px -5px #769BCD;
}

#div_chatroom{
	overflow-y:scroll;
	height:300px;
	padding:0 5px 0 5px;
}

#div_chatroom::-webkit-scrollbar{
	display:none;
	width:0 !important;	
}

#div_chatbot .chatbox-popup .chatbox-popup__footer {
  position: fixed;
  max-width:300px;
  width: 70%;
  right:5rem;
  bottom:9rem;
  box-sizing: border-box;
  display: flex;
  padding: 16px;
  align-items: center;
  justify-content: space-around;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  background-color:white;
  box-shadow:0 5px 5px -5px #769BCD, -5px 0 5px -5px #769BCD, 5px 0 5px -5px #769BCD;
}


#div_chatroom .chattext{
	margin-bottom:10px;
	background-color: #f6f6f6;
	padding:8px;
	border-radius:12px;
}

.chat_ask{
	max-width:160px;
	float:right;
	margin-right:0;
	margin-left:auto;
	text-align:right;
	margin-left:80px;
}

.chat_ask .chattext{
	background-color:#e3effd !important;
}

.chat_response{
	float:left;
	max-width:160px;
	text-align:left;
}
