<div class="col-md-12">
		<div class="pt-5 mt-5">
			<h5 class="mb-3 text-center" th:if="${#lists.isEmpty(review)}">아직
				작성된 리뷰가 없어요</h5>
			<h3 class="mb-3 text-center" th:unless="${#lists.isEmpty(review)}">트레이너
				리뷰</h3>
			<ul class="comment-list">
				<li class="comment" th:each="rv : ${review}">
					<div class="vcard bio">
						<img src="/images/emptypic.svg" alt="Image placeholder">
					</div>
					<div class="comment-body">
						<h3 th:text="${rv.uid}"></h3>

						<div class="meta" th:text="${#dates.format(rv.rv_regdate, 'yyyy-MM-dd')}"></div>
						<p th:text="${rv.rv_text}"></p>
						<!-- <span th:text="'평점 (별모양으로 표시): ' + ${rv.rv_rate}"></span> -->
						<div class="rating2 d-flex justify-content-end">
							<p th:id="'stars' + ${rv.id}" class="rv_stars" data-value="${rv.rv_rate}">★★★★☆</p>

							<!-- 	<input type="radio"><label name="four" id="four">★★★★☆</label>
							<input type="radio"><label name="three" id="three">★★★☆☆</label>
							<input type="radio"><label name="two" id="two">★★☆☆☆</label>
							<input type="radio"><label name="one" id="one">★☆☆☆☆</label>
							<input type="radio"><label name="zero" id="zero">☆☆☆☆☆</label> -->

							<input type="hidden" name="star_int" th:id="'rv_rate_int' + ${rv.id}" class="rate_int" th:value="${rv.rv_rate}">

							<!-- th:id="'rv_rate_int' + ${rv.rv_rate}'"  -->
						</div>
					</div>
				</li>
			</ul>
		</div>