<style>
.heading-section>span, h2, p, a {
	font-family: "Poppins", Arial, sans-serif;
}

.majoraddr {
	display: flex;
}

#addrshort {
	background: white;
	border: 0.05rem solid #769BCD;
	border-radius: 0.6rem;
	padding-left: 0.3rem;
	padding-right: 0.3rem;
	display: inline-block;
}

#addrshort span {
	color: #769BCD;
}

#tname h3 {
	margin-top: 0.5rem;
	margin-bottom: 0;
}

#tgymname {
	color: #343434;
	font-style: bold;
}

.btn btn-primary py-2 px-4:hover {
	background-color: white;
}
</style>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<script
	src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script th:inline="javascript">

function GetTarget(j){
	var selected = $('#select_order option:selected').val();
	
	$.ajax({
		url:'/trainers/findpage',
		data:{
			'pageNo':j,
			'orderBy':selected
		},
		method:'GET',
		success: function(result){
			$('#div_trainer_row').empty();
			$('#div_trainer_row').append(result);
			
			var currentPage = j;
			var totalData = [[${totalData}]];
			var limitPerPage = [[${amount}]]; // 페이지당 데이터 수
			var pageSize = 5; // 화면에 표시될 페이지 수
			var totalPages = Math.ceil(totalData / limitPerPage);
			var pageGroup = Math.ceil(currentPage / pageSize); // 페이지 그룹
			var last = pageGroup * pageSize;
			
			if(currentPage <= 0){
				currentPage = 1;
			}
			if(last > totalPages){
				last = totalPages;
			}
			
			var first = last - (pageSize - 1);
			const next = last + 1;
			var prev = first - 1;
			
			if(totalPages < 1){
				first = last;
			}
			
			var pages = $('#pages');
			pages.empty();
			
			if(first > 1){
				pages.append('<li><a onclick="GetTarget('+ first +')">prev</a></li>');
			}
			
			for (var k = first; k <= last; k++) {
				
				if(currentPage == k){
					pages.append('<li class="active"><a onclick="GetTarget(' + k + ');"' + '>' + k + '</a></li>');
				}else if(k > 0){
					pages.append('<li><a onclick="GetTarget('+ k +')">' + k + '</a></li>');
					};
				}
			
			if(next > pageSize && next <= totalPages){
				pages.append('<li><a onclick="GetTarget(' + next + ')">next</a></li>');
			};
			
		}
		
	});
	
	history.pushState({
		data:'/trainers/findpage',
		pageNo: j
	}, // state
	null, // title
	'/trainers/list?pageNo=' + j); // url
}

	$(window).on('popstate', function(event){
		window.location = document.location.href;

	});



function paging(totalData, currentPage){
	
		/* 변수 totalData: 전체 데이터 수(Back에서 받아옴)*/
		var totalData = [[${totalData}]];
		var currentPage = [[${currentPage}]];
		var limitPerPage = [[${amount}]]; // 페이지당 데이터 수
		var pageSize = 5; // 화면에 표시될 페이지 수
		var totalPages = Math.ceil(totalData / limitPerPage);
		var pageGroup = Math.ceil(currentPage / pageSize); // 페이지 그룹
		var last = pageGroup * pageSize;
		
		if(currentPage <= 0){
			currentPage = 1;
		}
		if(last > totalPages){
			last = totalPages;
		}
		
		var first = last - (pageSize - 1);
		const next = last + 1;
		var prev = first - 1;
		
		if(totalPages < 1){
			first = last;
		}
		
		var pages = $('#pages');
		pages.empty();
		
		// prev 버튼
		if(first > 1){
			pages.append('<li><a onclick="GetTarget('+ first +')">prev</a></li>');
		}
		
		// 페이지 숫자
		for (var j = first; j <= last; j++) {
			
			if(currentPage == j){
				pages.append('<li class="active"><a onclick="GetTarget(' + j + ');"' + '>' + j + '</a></li>');
			}else if(j > 0){
				pages.append('<li><a onclick="GetTarget('+ j +')">' + j + '</a></li>');
				};
			}
		
		// next 버튼
		if(next > pageSize && next <= totalPages){
			pages.append('<li><a onclick="GetTarget(' + next + ')">next</a></li>');
		};
	
	}
	

	
	$(function(){
		paging();
		$('#select_order').change(function(){
			var cp = [[${currentPage}]];
			var ob = [[${orderBy}]];
			$('input[name="pageNo"]').val(cp);
			// $('#select_order').val(ob).prop('selected', true);
			// $('#select_order option:selected').val(ob);
			$('#form_order').attr({
				'method':'get',
				'action':'/trainers/list'
			});
			// $('#form_order').submit();
		});
	});
</script>
<script>
function sample6_execDaumPostcode() {
	new daum.Postcode(
			{
				oncomplete : function(data) {

					var addr = '';
					var extraAddr = '';
					if (data.userSelectedType === 'R') {
						addr = data.roadAddress;
					} else {
						addr = data.jibunAddress;
					}

					if (data.userSelectedType === 'R') {
						if (data.bname !== ''
								&& /[동|로|가]$/g.test(data.bname)) {
							extraAddr += data.bname;
						}
						if (data.buildingName !== ''
								&& data.apartment === 'Y') {
							extraAddr += (extraAddr !== '' ? ', '
									+ data.buildingName : data.buildingName);
						}
						if (extraAddr !== '') {
							extraAddr = ' (' + extraAddr + ')';
						}
					//	document.getElementById("sample6_extraAddress").value = extraAddr;

					} else {
					//	document.getElementById("sample6_extraAddress").value = '';
					}

					document.getElementById('sample6_postcode').value = data.zonecode;
					document.getElementById("sample6_address").value = addr + extraAddr;
					document.getElementById("sample6_detailAddress").focus();
							
				}
			}).open();
}
/* 트레이너 찾기 모달에서 지역검색 */
var cnt = new Array();
cnt[0] = new Array('전체');
cnt[1] = new Array('전체','강남구','강동구','강북구','강서구','관악구','광진구','구로구','금천구','노원구','도봉구','동대문구','동작구','마포구','서대문구','서초구','성동구','성북구','송파구','양천구','영등포구','용산구','은평구','종로구','중구','중랑구');
cnt[2] = new Array('전체','강서구','금정구','남구','동구','동래구','부산진구','북구','사상구','사하구','서구','수영구','연제구','영도구','중구','해운대구','기장군');
cnt[3] = new Array('전체','남구','달서구','동구','북구','서구','수성구','중구','달성군');
cnt[4] = new Array('전체','계양구','남구','남동구','동구','부평구','서구','연수구','중구','강화군','옹진군');
cnt[5] = new Array('전체','광산구','남구','동구','북구','서구');
cnt[6] = new Array('전체','대덕구','동구','서구','유성구','중구');
cnt[7] = new Array('전체','남구','동구','북구','중구','울주군');
cnt[8] = new Array('전체','고양시','과천시','광명시','구리시','군포시','남양주시','동두천시','부천시','성남시','수원시','시흥시','안산시','안양시','오산시','의왕시','의정부시','평택시','하남시','가평군','광주시','김포시','안성시','양주군','양평군','여주군','연천군','용인시','이천군','파주시','포천시','화성시');
cnt[9] = new Array('전체','강릉시','동해시','삼척시','속초시','원주시','춘천시','태백시','고성군','양구군','양양군','영월군','인제군','정선군','철원군','평창군','홍천군','화천군','황성군');
cnt[10] = new Array('전체','제천시','청주시','충주시','괴산군','단양군','보은군','영동군','옥천군','음성군','진천군','청원군');
cnt[11] = new Array('전체','공주시','보령시','서산시','아산시','천안시','금산군','논산군','당진군','부여군','서천군','연기군','예산군','청양군','태안군','홍성군');
cnt[12] = new Array('전체','군산시','김제시','남원시','익산시','전주시','정읍시','고창군','무주군','부안군','순창군','완주군','임실군','장수군','진안군');
cnt[13] = new Array('전체','광양시','나주시','목포시','순천시','여수시','여천시','강진군','고흥군','곡성군','구례군','담양군','무안군','보성군','신안군','여천군','영광군','영암군','완도군','장성군','장흥군','진도군','함평군','해남군','화순군');
cnt[14] = new Array('전체','경산시','경주시','구미시','김천시','문겅시','상주시','안동시','영주시','영천시','포항시','고령군','군위군','봉화군','성주군','영덕군','영양군','예천군','울릉군','울진군','의성군','청도군','청송군','칠곡군');
cnt[15] = new Array('전체','거제시','김해시','마산시','밀양시','사천시','울산시','진주시','진해시','창원시','통영시','거창군','고성군','남해군','산청군','양산시','의령군','창녕군','하동군','함안군','함양군','합천군');
cnt[16] = new Array('전체','서귀포시','제주시','남제주군','북제주군');
function change(add) {
sel=document.form.county
  /* 옵션메뉴삭제 */
  for (i=sel.length-1; i>=0; i--){
    sel.options[i] = null
    }
  /* 옵션박스추가 */
  for (i=0; i < cnt[add].length;i++){                     
                    sel.options[i] = new Option(cnt[add][i], cnt[add][i]);
    }         
}

</script>
<section class="ftco-section">

	<div class="row justify-content-center mb-5 pb-3">
		<div class="col-md-7 heading-section text-center ftco-animate">
			<span class="subheading">Trainers</span>
			<h2 class="mb-4">트레이너</h2>
			<p>당근PT가 보증하는 현직 트레이너들!</p>
			<!-- 	<a href="#" id="btn_findmytrainer" class="btn btn-primary py-2 px-4">맞춤트레이너찾기(Click!)</a> -->

			<!-- Trigger the modal with a button -->
			<button type="button" class="btn btn-primary py-2 px-4"
				data-toggle="modal" data-target="#myModal">맞춤트레이너찾기(Click!)</button>
		</div>
	</div>

	<!-- Modal -->
	<div id="myModal" class="modal fade" role="dialog">
		<div class="modal-dialog w3-container w3-center w3-animate-zoom">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">맞춤 트레이너를 찾아드려요!</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>

				</div>
				<div class="modal-body">
					<div class="modal-body-que">
						1. 고객님의의 성별이 어떻게 되나요?
						<div>
							<span><label class="radio-inline"><input
									type="radio" id="f" name="optradio">여자</label></span> <span><label
								class="radio-inline"><input type="radio" id="m"
									name="optradio">남자</label></span> <span><label
								class="radio-inline"><input type="radio" id="n"
									name="optradio">응답 거절</label></span>
						</div>
					</div>
					<div class="modal-body-que">
						2. 고객님의 연령대는 어떻게 되나요?
						<div>
							<label class="radio-inline"><input type="radio" id="10대"
								name="optradio">10대</label><br> <label class="radio-inline"><input
								type="radio" id="20대" name="optradio">20대</label><br> <label
								class="radio-inline"><input type="radio" id="30대"
								name="optradio">30대</label><br> <label class="radio-inline"><input
								type="radio" id="40대" name="optradio">40대</label><br> <label
								class="radio-inline"><input type="radio" id="50대"
								name="optradio">50대</label><br> <label class="radio-inline"><input
								type="radio" id="60대" name="optradio">60대 이상</label>
						</div>
					</div>
					<div class="modal-body-que">
						3. 운동하시려는 목적을 말씀해주세요(중복체크 가능)
						<div>
							<label class="checkbox-inline"><input type="checkbox"
								value="">다이어트</label> <label class="checkbox-inline"><input
								type="checkbox" value="">체력증진</label> <label
								class="checkbox-inline"><input type="checkbox" value="">자세교정</label>
							<label class="checkbox-inline"><input type="checkbox"
								value="">자격증 또는 대회</label>
						</div>
					</div>
					<div class="modal-body-que">
						4. 하고 싶은 운동을 말씀해주세요
						<div>
						<form>
							<label class="radio-inline"><input type="radio" name="optradio" class="radio-value" value="필라테스">필라테스</label><br> 
							<label class="radio-inline"><input type="radio" name="optradio" class="radio-value" value="웨이트">웨이트 트레이닝</label><br> 
							<label class="radio-inline"><input type="radio" name="optradio" class="radio-value" value="요가">요가</label><br> 
							<label class="radio-inline"><input type="radio" name="optradio" class="radio-value" value="크로스핏">크로스핏</label><br> 
							<label class="radio-inline"><input type="radio" name="optradio" class="radio-value" value="etc" >직접 입력:</label>
							<input type="text" class="radio-value-detail" placeholder="배우고 싶은 운동을 입력해주세요" value="" />
						</div>
						</form>
					</div>
					<div class="modal-body-que">
						5. 평소에 운동을 얼마나 하시나요?
						<div>
							<label class="radio-inline"><input type="radio" id="none"
								name="optradio">거의 하지 않음</label><br> <label
								class="radio-inline"><input type="radio" id="onemonth"
								name="optradio">한 달에 1-2번</label><br> <label
								class="radio-inline"><input type="radio" id="oneweek"
								name="optradio">일주일에 1번</label><br> <label
								class="radio-inline"><input type="radio" id="twice"
								name="optradio">일주일에 2-3번</label><br> <label
								class="radio-inline"><input type="radio" id="four"
								name="optradio">일주일에 4번 이상</label>
						</div>
					</div>
					<div class="modal-body-que">
						6. 지역이 어디신가요?
						<div>
							<form name=form method=post action=$PHP_SELF>
								시/도: <select name='city' onchange="change(this.selectedIndex);"
									class=input>
									<option value='전체'>전체</option>
									<option value='서울'>서울특별시</option>
									<option value='부산'>부산광역시</option>
									<option value='대구'>대구광역시</option>
									<option value='인천'>인천광역시</option>
									<option value='광주'>광주광역시</option>
									<option value='대전'>대전광역시</option>
									<option value='울산'>울산광역시</option>
									<option value='경기'>경기도</option>
									<option value='강원'>강원도</option>
									<option value='충북'>충청북도</option>
									<option value='충남'>충청남도</option>
									<option value='전북'>전라북도</option>
									<option value='전남'>전라남도</option>
									<option value='경북'>경상북도</option>
									<option value='경남'>경상남도</option>
									<option value='제주'>제주도</option>
								</select> 구/군: <select name='county' class=select>
									<option value=''>전체</option>
								</select>
							</form>
						</div>
					</div>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>

		</div>
	</div>




	<div class="container">
		<div class="row">
			<!-- Left Start -->
			<div class="col-lg-9 pr-lg-4">
				<div class="row" id="div_trainer_row">
					<div id="div_trainer_replace"
						th:replace="${trcenter_info} ? ${trcenter_info} : trcenter_info">
					</div>

					<!-- Single Trainer Start -->

					<!-- Single Trainer End -->
				</div>
				<!-- Page Number Start -->
				<div class="row mt-5">
					<div class="col text-center">
						<div class="block-27">
							<ul id="pages">
							</ul>
						</div>
					</div>
				</div>
				<!-- Page Number End -->
			</div>
			<!-- Left End -->
			<!-- Right Start -->

			<div class="col-lg-3 p-4 bg-light">

				<div class="search-wrap-1 ftco-animate">
					<h2 class="mb-3">Find Places</h2>
					<form action="#" class="search-property-1">
						<div class="row">
							<div class="col-lg-12 align-items-end mb-3">
								<div class="form-group">
									<label for="#">정렬</label>
									<div class="form-field">
										<div class="icon">
											<span class="ion-ios-search"></span>
										</div>
										<form id="form_order">
											<select name="orderBy" id="select_order" class="form-control">
												<option value="num desc">최신 등록순</option>
												<option>리뷰 많은순</option>
												<option value="name">이름순</option>
											</select>
											<input type="hidden" name="pageNo">
										</form>
									</div>
								</div>
							</div>
							
							<div class="col-lg-12 align-items-end mb-3">
								<div class="form-group">
									<label for="#">지역별 검색</label>
									<div class="form-field">
										<div class="icon">
											<span class="ion-ios-search"></span>
										</div>
										<form>
											<input type="text" class="form-control"
												placeholder="Search place">
										</form>
									</div>
								</div>
							</div>

							<div class="col-lg-12 align-items-end mb-3">
								<div class="form-group">
									<label for="#">운동별 검색</label>
									<div class="form-field">
										<div class="select-wrap">
											<div class="icon">
												<span class="ion-ios-arrow-down"></span>
											</div>
											<select name="" id="" class="form-control">
												<option th:each="m : ${majors}" th:value="${m.major}"></option>
											</select>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-12 align-self-end">
								<div class="form-group">
									<div class="form-field">
										<input type="submit" value="Search"
											class="form-control btn btn-primary">
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<!-- Right End -->
		</div>
	</div>
</section>


