<style>
.heading-section>span, h2, p, a {
	font-family: "Poppins", Arial, sans-serif;
}

.majoraddr {
	display: flex;
}

.container {
	margin-top:4rem;
	margin-bottom:5rem;
}

#addrshort {
	background: white;
	border: 0.05rem solid #769BCD;
	border-radius: 0.6rem;
	padding-left: 0.3rem;
	padding-right: 0.3rem;
	display: inline-block;
}

#addrshort span {
	color: #769BCD;
}

#tname h3{
	margin-top: 0.5rem;
	margin-bottom: 0;
}

#tname h3 a{
	font-family:Pretendard;
}

#tgymname {
	color: #343434;
	font-style: bold;
}

.btn btn-primary py-2 px-4:hover {
	background-color: white;
}

#pages:hover{
	cursor:pointer;
}

#div_trainer_row{
	justify-content:center;
}

.pb-3, .py-3{
	padding-bottom:0 !important;
}

/* Data 없을 때*/
.nodata{
	justify-content:center;
	text-align:center;
	border:1px solid #769BCD;
	border-radius:20px;
	font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.nodata div{
	padding:3rem;
}

.nodata p{
	margin-bottom:0;
}

.nodata p span i{
	margin-right:5px;
	color:#769BCD;
}

/* Right */
#div_searchbar{
	font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
#div_searchbar h2{
	text-align:center;
	font-size:1.5rem;
	color:#769BCD;
	font-family: 'Montserrat', sans-serif;
}

#div_searchbar h2 i{
	margin-right:10px;
}

#div_searchbar label{
	font-size:1.2rem;
}

#div_searchbar select{
	background-color:white !important;
	border-radius:20px;
}

/* Modal */
#myModal h5, label, span{
	font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

#myModal h5{
	text-align:center;
	font-weight:bold;
}

#myModal label{
	color:black;
	font-size:1.1rem;
}

#myModal body {
	color: #000;
	overflow-x: hidden;
	height: 100%;
	/* 	background-color: #D1C4E9; */
	background-repeat: no-repeat;
}

#myModal .custom-radio input[type="radio"]+label:before{
	border:1px solid #769BCD;
}

#myModal .custom-checkbox input[type="checkbox"]+label:before{
	border:1px solid #769BCD;
}

#myModal input{
	font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

#p_heading{
	margin-bottom:0;
	font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
	font-size:1.2rem;
}

#myModal fieldset {
	display: none;
}

#myModal fieldset.show {
	display: block;
}

#myModal select:focus, input:focus {
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	border: 1px solid #769BCD !important;
	outline-width: 0 !important;
	font-weight: 200;
}

#myModal button:focus {
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	outline-width: 0;
}

#btn_getpreference{
	font-family:Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
	font-size:1.1rem;
}

#btn_getzip{
	font-family:Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
	font-size:1rem;
	border:1px solid #D8E4F5 !important;
	background-color:#EFEFEF;
	color:black !important;
	}

input[name="tzip"]{
	height:35.75px;
}

#btn_getzip:hover{
	background-color:#D8E4F5;
	color:white;
}

#myModal .tabs {
	/* margin: 2px 5px 0px 5px; */
	/* 	padding-bottom: 10px; */
	cursor: pointer;
}

#myModal .tabs:hover, .tabs.active {
	border-bottom: 5px solid #769BCD;
	color:#769BCD;
	
}

#myModal .tabs:hover, .tabs.active h6{
	font-size:1.5rem !important;
} 

#myModal a:hover {
	text-decoration: none;
	color: #1565C0;
}

#myModal .box {
	margin-bottom: 10px;
	border-radius: 5px;
	padding: 10px;
}

#myModal .line {
	background-color: #CFD8DC;
	height: 1px;
	width: 100%;
}

#myModal .pb-5{
	padding-bottom:0 !important;
}

@media screen and (max-width: 768px) {
	.tabs h6 {
		font-size: 12px;
	}
}

/* next previous button Style */
#myModal a {
	text-decoration: none;
	display: inline-block;
	padding: 8px 16px;
}

#myModal a:hover {
	background-color: #ddd;
	color: black;
	cursor:pointer;
}

#myModal .previous {
	background-color: #f1f1f1;
	color: black;
}

#myModal .next {
	background-color: #769BCD;
	color: white;
	float: right;
}

#myModal .round {
	border-radius: 50%;
}

#myModal .round:hover {
	border-radius: 50%;
	background-color:#1565C0;
	color:white;
}
</style>


<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard.css" />
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">

<!-- Script -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

<script th:inline="javascript">

function GetTarget(j){
	var orderBy = $('#select_order').val();
	var loc = $('#select_loc').val();
	var major = $('#select_major').val();
	
	$.ajax({
		url:'/trainers/findpage',
		data:{
			'pageNo':j,
			'orderBy':orderBy,
			'loc':loc,
			'major':major
		},
		method:'GET',
		success: function(result){
			$('#div_trainer_row').empty();
			$('#div_trainer_row').append(result);
			
			var currentPage = j;
			var totalData = $('#input_hiddencnt').val();
			var limitPerPage = [[${amount}]]; // 페이지당 데이터 수
			var pageSize = 5; // 화면에 표시될 페이지 수
			var totalPages = Math.ceil(totalData / limitPerPage);
			var pageGroup = Math.ceil(currentPage / pageSize); // 페이지 그룹
			var last = pageGroup * pageSize;
			
			var veryFirst = 1;
			var veryLast = totalPages;
			
			if(currentPage <= 0){
				currentPage = 1;
			}
			if(last > totalPages){
				last = totalPages;
			}
			
			var first = last - (pageSize - 1);
			const next = last + 1;
			var prev = first - 1;
			
			if(totalPages < 1){
				first = last;
			}
			
			var pages = $('#pages');
			pages.empty();
			
			if(totalPages > 1){
				pages.append('<li><a onclick="GetTarget('+ veryFirst +')"><<</a></li>');
			}
			
			if(first > 1){
				pages.append('<li><a onclick="GetTarget('+ first +')">prev</a></li>');
			}
			
			for (var k = first; k <= last; k++) {
				
				if(currentPage == k){
					pages.append('<li class="active"><a onclick="GetTarget(' + k + ');"' + '>' + k + '</a></li>');
				}else if(k > 0){
					pages.append('<li><a onclick="GetTarget('+ k +')">' + k + '</a></li>');
					};
				}
			
			if(next > pageSize && next <= totalPages){
				pages.append('<li><a onclick="GetTarget(' + next + ')">next</a></li>');
			};
			
			if(totalPages > 1){
				pages.append('<li><a onclick="GetTarget('+ veryLast +')">>></a></li>');
			}
			
		}
		
	});
	
	history.pushState({
		data:'/trainers/findpage',
		pageNo: j
	}, // state
	null, // title
	'/trainers?pageNo=' + j + '&orderBy=' + orderBy + '&loc=' + loc + '&major=' + major); // url
}

	$(window).on('popstate', function(event){
		window.location = document.location.href;

	});



function paging(totalData, currentPage){
	
		/* 변수 totalData: 전체 데이터 수(Back에서 받아옴)*/
		var totalData = $('#input_hiddencnt').val();
		var currentPage = [[${currentPage}]];
		var limitPerPage = [[${amount}]]; // 페이지당 데이터 수
		var pageSize = 5; // 화면에 표시될 페이지 수
		var totalPages = Math.ceil(totalData / limitPerPage);
		var pageGroup = Math.ceil(currentPage / pageSize); // 페이지 그룹
		var last = pageGroup * pageSize;
		var veryFirst = 1;
		var veryLast = totalPages;
		
		if(currentPage <= 0){
			currentPage = 1;
		}
		if(last > totalPages){
			last = totalPages;
		}
		
		var first = last - (pageSize - 1);
		const next = last + 1;
		var prev = first - 1;
		
		if(totalPages < 1){
			first = last;
		}
		
		var pages = $('#pages');
		pages.empty();
		
		if(totalPages > 1){
			pages.append('<li><a onclick="GetTarget('+ veryFirst +')"><<</a></li>');
		}
		
		// prev 버튼
		if(first > 1){
			pages.append('<li><a onclick="GetTarget('+ first +')">prev</a></li>');
		}
		
		// 페이지 숫자
		for (var j = first; j <= last; j++) {
			
			if(currentPage == j){
				pages.append('<li class="active"><a onclick="GetTarget(' + j + ');"' + '>' + j + '</a></li>');
			}else if(j > 0){
				pages.append('<li><a onclick="GetTarget('+ j +')">' + j + '</a></li>');
				};
			}
		
		// next 버튼
		if(next > pageSize && next <= totalPages){
			pages.append('<li><a onclick="GetTarget(' + next + ')">next</a></li>');
		};
		
		if(totalPages > 1){
			pages.append('<li><a onclick="GetTarget('+ veryLast +')">>></a></li>');
		}
	
	}
	

function sample6_execDaumPostcode() {
	new daum.Postcode({
		oncomplete : function(data) {
			var addr = '';
			var extraAddr = '';
			if (data.userSelectedType === 'R') {
				addr = data.roadAddress;
			} else {
				addr = data.jibunAddress;
			}
			$('input[name="tzip"]').val(data.zonecode);
		}
	}).open();
}


/* 모달 창 닫기 */
function myModalClose() {
	$('#myModal').modal('hide');
}	
	
$(function(){
	paging();
	$('.search').change(function(){
		var searchPage = 1;
		GetTarget(parseInt(searchPage));
	});
	
	// Modal Tab으로 이동
	$(".tabs").click(function(){
	    
	    $(".tabs").removeClass("active");
	    $(".tabs h6").removeClass("font-weight-bold");    
	    $(".tabs h6").addClass("text-muted");    
	    $(this).children("h6").removeClass("text-muted");
	    $(this).children("h6").addClass("font-weight-bold");
	    $(this).addClass("active");
	    
	    var nextNum = $(this).attr('id');
	    current_fs = $('fieldset.show');
	    next_fs= $('fieldset.' + nextNum);

	    $("fieldset").removeClass("show");
	    $(next_fs).addClass("show");

	    current_fs.animate({}, {
	        step: function() {
	            current_fs.css({
	                'display': 'none',
	                'position': 'relative'
	            });
	            next_fs.css({
	                'display': 'block'
	            });
	        }
	    });
	});
	
	// Modal 뒤로 가기
	$('.previous.round').click(function(){
	    current_fs = $('fieldset.show');
		var currentFsClass = $('fieldset.show').attr('class');
	    var prevFsClass = parseInt(currentFsClass) - 1;
	    prev_fs = $('fieldset.' + prevFsClass);
	    
	    $('fieldset.show').removeClass("show");
	    $('fieldset.' + prevFsClass).addClass("show");
	    
	    // fieldset
	    current_fs.animate({}, {
	        step: function() {
	            current_fs.css({
	                'display': 'none',
	                'position': 'relative'
	            });
	            prev_fs.css({
	                'display': 'block'
	            });
	        }
	    });
	    
	    // tab
	    $(".tabs").removeClass("active");
	    $(".tabs h6").removeClass("font-weight-bold");    
	    $(".tabs h6").addClass("text-muted");
	    
	    $('#' + prevFsClass).children("h6").removeClass("text-muted");
	    $('#' + prevFsClass).children("h6").addClass("font-weight-bold");
	    $('#' + prevFsClass).addClass("active");
	    
	});
	
	// Modal 앞으로 가기
	$('.next.round').click(function(){
	    current_fs = $('fieldset.show');
		var currentFsClass = $('fieldset.show').attr('class');
	    var nextFsClass = parseInt(currentFsClass) + 1;
	    next_fs = $('fieldset.' + nextFsClass);
	    
	    $('fieldset.show').removeClass("show");
	    $('fieldset.' + nextFsClass).addClass("show");
	    
	    // fieldset
	    current_fs.animate({}, {
	        step: function() {
	            current_fs.css({
	                'display': 'none',
	                'position': 'relative'
	            });
	            next_fs.css({
	                'display': 'block'
	            });
	        }
	    });
	    
	    // tab
	    $(".tabs").removeClass("active");
	    $(".tabs h6").removeClass("font-weight-bold");    
	    $(".tabs h6").addClass("text-muted");
	    
	    $('#' + nextFsClass).children("h6").removeClass("text-muted");
	    $('#' + nextFsClass).children("h6").addClass("font-weight-bold");
	    $('#' + nextFsClass).addClass("active");
	    
	});
	
	$('#btn_getpreference').click(function(){
		var tGender = $('input[name="tgender"]:checked').val();
		
		const tMajorArr = [];
	
		$('input:checkbox[name="tmajor"]:checked').each(function(){
			tMajorArr.push($(this).val());
		});
		
		const tWorkdayArr = [];
		var tWorkday = $('input[name="tworkday"]:checked');
		$(tWorkday).each(function(){
			tWorkdayArr.push($(this).val());
		});
		
		var tZip = $('input[name="tzip"]').val();
		
		$('input[name="trainerGender"]').val(tGender);
		$('input[name="trainerMajor"]').val(tMajorArr);
		$('input[name="trainerWorkday"]').val(tWorkdayArr);
		$('input[name="trainerZip"]').val(tZip);
		
		
		$('#form_preference').attr({
			'method':'post',
			'action':'/trainers/find'
		});
		
		$('#form_preference').submit();
		
		
	});
	
});


</script>
<section class="ftco-section">

	<div class="row justify-content-center mb-5 pb-3">
		<div class="col-md-7 heading-section text-center ftco-animate">
			<span class="subheading">Trainers</span>
			<h2 class="mb-4">트레이너</h2>
			<p id="p_heading">당근PT 인증을 통과한 현직 트레이너들을 만나보세요!</p>
		</div>
	</div>

	<div class="container">
		<div class="row justify-content-center">
			<button type="button" data-toggle="modal" data-target="#myModal"
				class="btn btn-primary py-2 px-4">맞춤트레이너찾기(Click!)</button>
		</div>
	</div>	
	
		<!-- Modal Start -->		
			<div id="myModal" tabindex="-1" role="dialog"
				aria-labelledby="exampleModalLabel" aria-hidden="true"
				class="modal fade text-left">
				<div role="document" class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header login-modal-header">
							<div class="modal-title login-modal-title">
								<p class="navbar-brand modal-title-text">
									<span class="carrot"><i class="fas fa-carrot"></i></span> 당근PT
								</p>
							</div>
						</div>
						<div class="modal-header row d-flex justify-content-between mx-1 mx-sm-3 mb-0 pb-0 border-0">
							<div class="tabs active first" id="1">
								<h6 class="font-weight-bold">1</h6>
							</div>
							<div class="tabs" id="2">
								<h6 class="text-muted">2</h6>
							</div>
							<div class="tabs" id="3">
								<h6 class="text-muted">3</h6>
							</div>
							<div class="tabs" id="4">
								<h6 class="text-muted">4</h6>
							</div>
						</div>
					<!-- Modal Body Start -->
						
						<div class="modal-body p-0">
							<fieldset class="show 1">
								
									<!-- <h3 class="text-center mb-4 mt-0 pt-4">질문에 답해주세요</h3> -->
									
									<div class="form-group pb-2 px-3 main">
										<h5> 어떤 성별의 트레이너를 선호하시나요? </h5>
										<div class="radio_gender">
											<div class="custom-control custom-radio">
												<input class="custom-control-input" type="radio" value="all" id="gender_all" name="tgender">
												<label class="custom-control-label" for="gender_all">상관없어요</label>
											</div>
											<div class="custom-control custom-radio">
												<input class="custom-control-input" type="radio" value="여" id="gender_f" name="tgender">
												<label class="custom-control-label" for="gender_f">여성</label>
											</div>
												
											<div class="custom-control custom-radio">
												<input class="custom-control-input" type="radio" value="남" id="gender_m" name="tgender">
												<label class="custom-control-label" for="gender_m">남성</label>
											</div>
										</div>
									</div>
											
									<a class="next round">&#8250;</a>
							</fieldset>


							<fieldset class="2">
								<div class="form-group pb-2 px-3 main">
									<h5>어떤 운동에 관심이 있으신가요? 모두 골라 주세요.</h5>
									<div>
										<div class="custom-control custom-checkbox" th:each="major : ${majors}">
											<input type="checkbox" name="tmajor" class="custom-control-input"
											th:value="${major.major}" th:id="'tmajor'+${major.major}">
											<label class="custom-control-label" th:text="${major.major}" th:for="'tmajor'+${major.major}"></label>
										</div>
									</div>
								</div>
									<a class="previous round">&#8249;</a>
									<a class="next round">&#8250;</a>
							</fieldset>
							
								
							<fieldset class="3">
								<div class="form-group pb-2 px-3 main">
									<h5>어떤 요일에 운동하고 싶으신가요? 모두 골라 주세요.</h5>

									<div class="custom-control custom-checkbox">
										<input class="custom-control-input" value="mon" name="tworkday" id="workday_mon" type="checkbox">
										<label class="custom-control-label" for="workday_mon">월</label>
									</div>
									
									<div class="custom-control custom-checkbox">
										<input class="custom-control-input" value="tue" name="tworkday" id="workday_tue" type="checkbox">
										<label class="custom-control-label" for="workday_tue">화</label>
									</div>
									
									<div class="custom-control custom-checkbox">
										<input class="custom-control-input" value="wed" name="tworkday" id="workday_wed" type="checkbox">
										<label class="custom-control-label" for="workday_wed">수</label>
									</div>
									
									<div class="custom-control custom-checkbox">
										<input class="custom-control-input" value="thu" name="tworkday" id="workday_thu" type="checkbox">
										<label class="custom-control-label" for="workday_thu">목</label>
									</div>
									
									<div class="custom-control custom-checkbox">
										<input class="custom-control-input" value="fri" name="tworkday" id="workday_fri" type="checkbox">
										<label class="custom-control-label" for="workday_fri">금</label>
									</div>
									
									<div class="custom-control custom-checkbox">
										<input class="custom-control-input" value="sat" name="tworkday" id="workday_sat" type="checkbox">
										<label class="custom-control-label" for="workday_sat">토</label>
									</div>
									
									<div class="custom-control custom-checkbox">
										<input class="custom-control-input" value="sun" name="tworkday" id="workday_sun" type="checkbox">
										<label class="custom-control-label" for="workday_sun">일</label>
									</div>
								</div>
								
									<a class="previous round">&#8249;</a>
									<a class="next round">&#8250;</a>
						</fieldset>
						
						<fieldset class="4">
							<div class="form-group pb-2 px-3 main">
								<h5>어떤 지역에서 운동하고 싶으세요?</h5>
								<div class="div_zipinput">
									<input type="text" placeholder="우편번호" name="tzip" onkeyup="sample6_execDaumPostcode()" onclick="sample6_execDaumPostcode()">
									<button class="btn btn-primary" id="btn_getzip" onclick="sample6_execDaumPostcode()">우편번호 찾기</button>
								</div>
							</div>
							<div class="px-3">
								<div class="form-group pb-5 row justify-content-center">
									<button type="button" class="btn btn-primary px-3"
										data-toggle="modal" id="btn_getpreference">나에게 맞는 트레이너 확인하기</button>
								</div>
							</div>
							<a class="previous round">&#8249;</a>
						</fieldset>

					</div>
				<!-- Modal Body End -->
					
				</div>
			</div>
		</div>
		<!-- Modal End -->		


	<div class="container">
		<div class="row">
			<!-- Left Start -->
			<div class="col-lg-9 pr-lg-4">
				<!-- Trainer List Start -->
				<div class="row" id="div_trainer_row">
					<div id="div_trainer_replace"
						th:replace="${trcenter_info} ? ${trcenter_info} : trcenter_info">
					</div>
				</div>
				<!-- Trainer List End -->
				<!-- Page Number Start -->
				<div class="row mt-5">
					<div class="col text-center">
						<div class="block-27">
							<ul id="pages">
							</ul>
						</div>
					</div>
				</div>
				<!-- Page Number End -->
			</div>
			
			<div style="display:hidden">
				<form id="form_preference">
					<input type="hidden" name="trainerGender">
					<input type="hidden" name="trainerMajor">
					<input type="hidden" name="trainerWorkday">
					<input type="hidden" name="trainerZip">
				</form>
			</div>
			<!-- Left End -->
			
			<!-- Right Start -->

			<div class="col-lg-3 p-4 bg-light">

				<div class="search-wrap-1 ftco-animate" id="div_searchbar">
					<h2 class="mb-3"><i class="fa-solid fa-magnifying-glass"></i>Search</h2>
					<form action="#" class="search-property-1">
						<div class="row">
							<div class="col-lg-12 align-items-end mb-3">
								<div class="form-group">
									<label for="#">정렬</label>
									<div class="form-field">
										<div class="icon">
											<span class="ion-ios-search"></span>
										</div>
										
											<select name="orderBy" id="select_order" class="form-control search">
												<option value="num">최신 등록순</option>
												<option value="rvcnt">리뷰 많은순</option>
												<option value="name">이름순</option>
											</select> <input type="hidden" name="pageNo">
										
									</div>
								</div>
							</div>

							<div class="col-lg-12 align-items-end mb-3">
								<div class="form-group">
									<label for="#">지역별 검색</label>
									<div class="form-field">
										<div class="icon">
											<span class="ion-ios-search"></span>
										</div>
											<select name='loc' id="select_loc" class="form-control search">
												<option value='all'>All</option>
												<option value='서울'>서울특별시</option>
												<option value='부산'>부산광역시</option>
												<option value='대구'>대구광역시</option>
												<option value='인천'>인천광역시</option>
												<option value='광주'>광주광역시</option>
												<option value='대전'>대전광역시</option>
												<option value='울산'>울산광역시</option>
												<option value='경기'>경기도</option>
												<option value='강원'>강원도</option>
												<option value='충청북'>충청북도</option>
												<option value='충청남'>충청남도</option>
												<option value='전라북'>전라북도</option>
												<option value='전라남'>전라남도</option>
												<option value='경상북'>경상북도</option>
												<option value='경상남'>경상남도</option>
												<option value='제주'>제주도</option>
											</select>
									</div>
								</div>
							</div>

							<div class="col-lg-12 align-items-end mb-3">
								<div class="form-group">
									<label for="#">운동별 검색</label>
									<div class="form-field">
										<div class="icon">
											<span class="ion-ios-search"></span>
										</div>
											<select name="major" id="select_major" class="form-control search">
												<option value="all">All</option>
												<option th:each="m : ${majors}" th:text="${m.major}" th:value="${m.major}"></option>
											</select>
									</div>
								</div>
							</div>

						</div>
					</form>
				</div>
			</div>
			<!-- Right End -->
		</div>
	</div>
</section>