<style>
	#addrshort{
		display:inline-block;
		background:white;
		border:1px solid #769BCD;
		border-radius:7px;
		padding:0px 6px;
		margin:0 0 10px 0;
	}
	
	#addrshort span{
		color:#769BCD;
	}
	
	.trainer_name{
		margin-bottom:1rem;
	}
</style>
<script>
	$(function(){
		
	});
</script>

<!-- Header Start -->
	<section class="ftco-section contact-section ftco-no-pb" id="contact-section">
		<div class="row justify-content-center mb-5 pb-3">		         
			<div class="col-md-7 heading-section text-center ftco-animate">
				 <span class="subheading" th:text="${dtrainer.major}"></span>
				 <h2 class="trainer_name" th:text="${dtrainer.name}+' 트레이너'"></h2>
				 <div id="addrshort">
				 	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#769BCD" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
						<path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
					</svg>
					 <span th:text="${dtrainer.addrshort}"></span>
				 </div>
				 <p th:text="${dtrainer.gym_name}"></p>
			</div>
		</div>
	</section>
<!-- Header End -->
      <div class="container">
        <div class="row">
        	<div class="col-md-12 tour-wrap mb-5">
    				<div class="row">
    					<div class="col-md-6 d-flex ftco-animate">
    						<div class="img align-self-stretch" style="background-image: url(/images/destination-1.jpg);"></div>
    					</div>
    					<div class="col-md-6 ftco-animate">
    						<div class="text py-5">
    							<h3><a href="#">Discover Greece</a></h3>
    							<p class="pos">from <span class="price">$400.00</span>5 days</p>
    							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
    							<p><a href="#" class="btn btn-secondary">Details</a> <a href="#" class="btn btn-primary">Book now</a></p>
    						</div>
    					</div>
    				</div>
    			</div>
    			
    			<div class="col-md-12 tour-wrap">
    				<table class="table">
					    <tbody>
					      <tr>
				      	  <th scope="row">Departure</th>
					        <td>
					        	<p>Greece International Airport</p>
					        </td>
					        <td></td>
					      </tr><!-- END TR-->

					      <tr>
				      	  <th scope="row">Departure Time</th>
					        <td>
					        	<p>Please arrive by 10:20 AM for a prompt departure at 10:50 AM</p>
					        </td>
					        <td></td>
					      </tr><!-- END TR-->

					      <tr>
				      	  <th scope="row">Return Time</th>
					        <td>
					        	<p>Approximately 8:30 PM</p>
					        </td>
					        <td></td>
					      </tr><!-- END TR-->

					      <tr>
				      	  <th scope="row">Included</th>
					        <td class="d-flex">
					        	<ul>
					        		<li>Airfare</li>
					        		<li>5 star accomodation</li>
					        	</ul>
					        	<ul>
					        		<li>Local transportation</li>
					        		<li>Private Professional Guide</li>
					        	</ul>
					        </td>
					        <td></td>
					      </tr><!-- END TR-->

					      <tr>
				      	  <th scope="row">Not Included</th>
					        <td class="d-flex">
					        	<ul>
					        		<li>Departure Taxes</li>
					        	</ul>
					        	<ul>
					        		<li>Entry Fees</li>
					        	</ul>
					        </td>
					        <td></td>
					      </tr><!-- END TR-->
					      <tr>
				      	  <th scope="row">Maps</th>
					        <td>
										<div id="map"></div>
					        </td>
					      </tr><!-- END TR-->
					    </tbody>
					  </table>
    			</div>
    			<div class="col-md-12 tour-wrap">
    				<div class="pt-5 mt-5">
              <h3 class="mb-5">6 Reviews</h3>
              <ul class="comment-list">
                <li class="comment">
                  <div class="vcard bio">
                    <img src="/images/team/team-2.jpg" alt="Image placeholder">
                  </div>
                  <div class="comment-body">
                    <h3>John Doe</h3>
                    <div class="meta">October 03, 2018 at 2:21pm</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
                    <p><a href="#" class="reply">Reply</a></p>
                  </div>
                </li>

                <li class="comment">
                  <div class="vcard bio">
                    <img src="/images/person_1.jpg" alt="Image placeholder">
                  </div>
                  <div class="comment-body">
                    <h3>John Doe</h3>
                    <div class="meta">October 03, 2018 at 2:21pm</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
                    <p><a href="#" class="reply">Reply</a></p>
                  </div>

                  <ul class="children">
                    <li class="comment">
                      <div class="vcard bio">
                        <img src="/images/person_1.jpg" alt="Image placeholder">
                      </div>
                      <div class="comment-body">
                        <h3>John Doe</h3>
                        <div class="meta">October 03, 2018 at 2:21pm</div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
                        <p><a href="#" class="reply">Reply</a></p>
                      </div>


                      <ul class="children">
                        <li class="comment">
                          <div class="vcard bio">
                            <img src="/images/person_1.jpg" alt="Image placeholder">
                          </div>
                          <div class="comment-body">
                            <h3>John Doe</h3>
                            <div class="meta">October 03, 2018 at 2:21pm</div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
                            <p><a href="#" class="reply">Reply</a></p>
                          </div>

                            <ul class="children">
                              <li class="comment">
                                <div class="vcard bio">
                                  <img src="/images/person_1.jpg" alt="Image placeholder">
                                </div>
                                <div class="comment-body">
                                  <h3>John Doe</h3>
                                  <div class="meta">October 03, 2018 at 2:21pm</div>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
                                  <p><a href="#" class="reply">Reply</a></p>
                                </div>
                              </li>
                            </ul>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>

                <li class="comment">
                  <div class="vcard bio">
                    <img src="/images/person_1.jpg" alt="Image placeholder">
                  </div>
                  <div class="comment-body">
                    <h3>John Doe</h3>
                    <div class="meta">October 03, 2018 at 2:21pm</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
                    <p><a href="#" class="reply">Reply</a></p>
                  </div>
                </li>
              </ul>
              <!-- END comment-list -->
              
              <div class="comment-form-wrap pt-5">
                <h3 class="mb-5">Leave a comment</h3>
                <form action="#" class="p-5 bg-light">
                  <div class="form-group">
                    <label for="name">Name *</label>
                    <input type="text" class="form-control" id="name">
                  </div>
                  <div class="form-group">
                    <label for="email">Email *</label>
                    <input type="email" class="form-control" id="email">
                  </div>
                  <div class="form-group">
                    <label for="website">Website</label>
                    <input type="url" class="form-control" id="website">
                  </div>

                  <div class="form-group">
                    <label for="message">Message</label>
                    <textarea name="" id="message" cols="30" rows="10" class="form-control"></textarea>
                  </div>
                  <div class="form-group">
                    <input type="submit" value="Post Comment" class="btn py-3 px-4 btn-primary">
                  </div>

                </form>
              </div>
            </div>
    			</div>
        </div>
      </div>
    </section> <!-- .section -->
