
    <section class="ftco-section contact-section ftco-no-pb" id="contact-section">
      <div class="container">
      	<div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section text-center ftco-animate">
	            <h2 class="mb-4">내 주변 헬스장</h2>
	            
	            <div class="row">
						<div class="col-md-12">
							<div class="search-wrap-1 ftco-animate p-4">
								<form action="#" class="search-property-1">
					        		<div class="row">
					        			<div class="col-lg align-items-end">
					        				<div class="form-group">
						          				<div class="form-field">
						          					<div class="icon"><span class="ion-ios-search"></span></div>
								               		<input type="text" class="form-control" placeholder="Search place">
								              	</div>
						             		</div>
					        			</div>
					        		
					        			<div class="col-lg align-self-end">
					        				<div class="form-group">
					        					<div class="form-field">
							               			 <input type="submit" value="Search" class="form-control btn btn-primary">
							              		</div>
						             		</div>
					        			</div>
					        	</div>
				        	</form>
			        	</div>
					</div>
		    	</div>

          </div>
        </div>

        <div class="row block-9">
 <!-- Right div Start -->
          <div class="col-md-7 order-md-last d-flex">
           	 <p>Right div</p>
          </div>
<!-- Right div End -->

<!-- Left div Start -->
          <div class="col-md-5 d-flex">
          	<div class="row d-flex contact-info mb-5">
		    	<p>Left div</p>      
		    </div>
          </div>
<!-- Left div End -->
        </div>
      </div>
    </section>