<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link
	href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap"
	rel="stylesheet">
<style>
/* nav bar */
#div_searchbar {
	font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui,
		Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo",
		"Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol", sans-serif;
}

#div_searchbar h2 {
	text-align: center;
	font-size: 1.5rem;
	color: #769BCD;
	font-family: 'Montserrat', sans-serif;
}

#div_searchbar h2 i {
	margin-right: 10px;
}

#div_searchbar label {
	font-size: 1.2rem;
}

#div_searchbar select {
	background-color: white !important;
	border-radius: 20px;
}
</style>

	
	<!-- Geolocation -->
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c4b0ad65affd6cc37ad679d341d2eab0"></script>
<script>


$(function(){

	var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
    mapOption = { 
        center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
        level: 8 // 지도의 확대 레벨 
    }; 
	
	var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
	
	// HTML5의 geolocation으로 사용할 수 있는지 확인합니다 
	if (navigator.geolocation) {
	    
	    // GeoLocation을 이용해서 접속 위치를 얻어옵니다
	    navigator.geolocation.getCurrentPosition(function(position) {
	        
	        var lat = position.coords.latitude, // 위도
	            lon = position.coords.longitude; // 경도
	        
	        var locPosition = new kakao.maps.LatLng(lat, lon), // 마커가 표시될 위치를 geolocation으로 얻어온 좌표로 생성합니다
	            message = '<div style="padding:5px;">여기에 계시는군요!</div>'; // 인포윈도우에 표시될 내용입니다
	        
	        // 마커와 인포윈도우를 표시합니다
	        displayMarker(locPosition, message);
	            
	      });
	    
	} else { // HTML5의 GeoLocation을 사용할 수 없을때 마커 표시 위치와 인포윈도우 내용을 설정합니다
	    
	    var locPosition = new kakao.maps.LatLng(33.450701, 126.570667),    
	        message = 'geolocation을 사용할수 없어요..'
	        
	    displayMarker(locPosition, message);
	}
	
	// 지도에 마커와 인포윈도우를 표시하는 함수입니다
	function displayMarker(locPosition, message) {
	
	    // 마커를 생성합니다
	    var marker = new kakao.maps.Marker({  
	        map: map, 
	        position: locPosition
	    }); 
	    
	    var iwContent = message, // 인포윈도우에 표시할 내용
	        iwRemoveable = true;
	
	    // 인포윈도우를 생성합니다
	    var infowindow = new kakao.maps.InfoWindow({
	        content : iwContent,
	        removable : iwRemoveable
	    });
	    
	    // 인포윈도우를 마커위에 표시합니다 
	    infowindow.open(map, marker);
	    
	    // 지도 중심좌표를 접속위치로 변경합니다
	    map.setCenter(locPosition);      
	}   
	
	/* 근처 헬스장 표시 */
	// 마커를 표시할 위치와 내용을 가지고 있는 객체 배열입니다 
	var positions = [
	    {
	        content: '<div>소울휘트니스</div>', 
	        latlng: new kakao.maps.LatLng(37.6136489, 127.0347646)
	    },
	    {
	        content: '<div>업타운휘트니스 미아사거리점</div>', 
	        latlng: new kakao.maps.LatLng(37.6126281, 127.0297169)
	    },
	    {
	        content: '<div>아크로짐</div>', 
	        latlng: new kakao.maps.LatLng(37.6202567, 127.0175765)
	    },
	    {
	        content: '<div>레몬핏 휘트니스</div>',
	        latlng: new kakao.maps.LatLng(37.6222125, 127.0460826)
	    },
	    {
	        content: '<div>서문석헬스클럽</div>',
	        latlng: new kakao.maps.LatLng(37.5260933, 126.8632874)
	    }
	    ,
	    {
	        content: '<div>목동역점스포애니케이디스포츠</div>',
	        latlng: new kakao.maps.LatLng(37.5253137, 126.8639988)
	    }
	    ,
	    {
	        content: '<div>머스트짐</div>',
	        latlng: new kakao.maps.LatLng(37.5278991, 126.8644008)
	    }
	    ,
	    {
	        content: '<div>피트니스포에버 헬스/PT/기구필라테스</div>',
	        latlng: new kakao.maps.LatLng(37.5259231, 126.868438)
	    }
	];
	
	for (var i = 0; i < positions.length; i ++) {
	    // 마커를 생성합니다
	    var marker = new kakao.maps.Marker({
	        map: map, // 마커를 표시할 지도
	        position: positions[i].latlng // 마커의 위치
	    });
	
	    // 마커에 표시할 인포윈도우를 생성합니다 
	    var infowindow = new kakao.maps.InfoWindow({
	        content: positions[i].content // 인포윈도우에 표시할 내용
	    });
	
	    // 마커에 mouseover 이벤트와 mouseout 이벤트를 등록합니다
	    // 이벤트 리스너로는 클로저를 만들어 등록합니다 
	    // for문에서 클로저를 만들어 주지 않으면 마지막 마커에만 이벤트가 등록됩니다
	    kakao.maps.event.addListener(marker, 'mouseover', makeOverListener(map, marker, infowindow));
	    kakao.maps.event.addListener(marker, 'mouseout', makeOutListener(infowindow));
	}
	
	// 인포윈도우를 표시하는 클로저를 만드는 함수입니다 
	function makeOverListener(map, marker, infowindow) {
	    return function() {
	        infowindow.open(map, marker);
	    };
	}
	
	// 인포윈도우를 닫는 클로저를 만드는 함수입니다 
	function makeOutListener(infowindow) {
	    return function() {
	        infowindow.close();
	    };
	}
});


</script>


<section class="ftco-section">
	<div class="container">
		<div class="row justify-content-center mb-5 pb-3">
			<div class="col-md-7 heading-section text-center ftco-animate">
				<span class="subheading">Trainers</span>
				<h2 class="mb-4" id="h2_map">내 위치로 찾기</h2>
				<p>당근PT에 등록된 헬스장!</p>
			</div>
		</div>
		<div class="row">
			<!-- 지도 들어갈 자리 -->
			<div class="col-lg-10 pr-lg-4">
				<div class="container">
					<div class="map">
						<div id="map"></div>
					</div>
				</div>
			</div>
			<div style="display: hidden"></div>
			<!-- 지도 끝 -->

			<!-- right nav bar strat -->
			<div class="col-lg-2 p-3 bg-light">
				<div class="search-wrap-1 ftco-animate" id="div_searchbar">
					<h2 class="mb-3">
						<i class="fa-solid fa-magnifying-glass"></i>지도로 찾기
					</h2>
					<form action="#" class="search-property-1">
						<div class="row">
							<div class="col-lg-12 align-items-end mb-3">
								<div class="form-group">
									<li class="nav-item"><a th:href="@{/map/search}">검색해서 지도로 찾기</a></li>
								</div>
							</div>

							<div class="col-lg-12 align-items-end mb-3">
								<div class="form-group">
									<li class="nav-item"><a th:href="@{/map}">내 위치로 찾기</a></li>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<!-- right nav bar end -->
		</div>
	</div>
</section>


<!-- Geolocation -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- <script src="../static/kakaoscript0.js"></script>
<script src="../static/kakaoscriptAll.js"></script> -->
    
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c4b0ad65affd6cc37ad679d341d2eab0"></script>
<script>
var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
    mapOption = { 
        center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
        level: 8 // 지도의 확대 레벨 
    }; 

var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

// HTML5의 geolocation으로 사용할 수 있는지 확인합니다 
if (navigator.geolocation) {
    
    // GeoLocation을 이용해서 접속 위치를 얻어옵니다
    navigator.geolocation.getCurrentPosition(function(position) {
        
        var lat = position.coords.latitude, // 위도
            lon = position.coords.longitude; // 경도
        
        var locPosition = new kakao.maps.LatLng(lat, lon), // 마커가 표시될 위치를 geolocation으로 얻어온 좌표로 생성합니다
            message = '<div style="padding:5px;">사용자위치(없앨예정)!</div>'; // 인포윈도우에 표시될 내용입니다
        
        // 마커와 인포윈도우를 표시합니다
        displayMarker(locPosition, message);
            
      });
    
} else { // HTML5의 GeoLocation을 사용할 수 없을때 마커 표시 위치와 인포윈도우 내용을 설정합니다
    
    var locPosition = new kakao.maps.LatLng(33.450701, 126.570667),    
        message = 'geolocation을 사용할수 없어요..'
        
    displayMarker(locPosition, message);
}

// 지도에 마커와 인포윈도우를 표시하는 함수입니다
function displayMarker(locPosition, message) {

    // 마커를 생성합니다
    var marker = new kakao.maps.Marker({  
        map: map, 
        position: locPosition
    }); 
    
    var iwContent = message, // 인포윈도우에 표시할 내용
        iwRemoveable = true;

    // 인포윈도우를 생성합니다
    var infowindow = new kakao.maps.InfoWindow({
        content : iwContent,
        removable : iwRemoveable
    });
    
    // 인포윈도우를 마커위에 표시합니다 
    infowindow.open(map, marker);
    
    // 지도 중심좌표를 접속위치로 변경합니다
    map.setCenter(locPosition);      
}   

/* 근처 헬스장 표시 */
// 마커를 표시할 위치와 내용을 가지고 있는 객체 배열입니다 
getdatas = []
m_infos = []
positions = []

$.ajax({
    type: 'get',
    url: "/data",
    success: function (response) {
        getdatas = response['result']
        for (i = 0; i < getdatas.length; i++) {
            let m_g = getdatas[i]['gymname']
            let m_x = getdatas[i]['lat']
            let m_y = getdatas[i]['longt']

            let m_info = { 'gymname': m_g, 'lat': m_x, 'longt': m_y }
            m_infos.push(m_info)
        }

        //  아래는 마커와 인포윈도우 여러개 표시
        for (var i = 0; i < m_infos.length; i++) {
            var m_i_name = m_infos[i]['gymname']
            var m_i_x = m_infos[i]['lat']
            var m_i_y = m_infos[i]['longt']
            var gb_position = { content: `<div class="ifw"><h5>${m_i_name}</h5><h6>${m_i_addr}</h6><h5> ${m_i_gw}</h5>`, latlng: new kakao.maps.LatLng(m_i_y, m_i_x) }
            positions.push(gb_position)
        }


    /*     for (var i = 0; i < positions.length; i++) {
            var m_i_addr2 = m_infos[i]['매장주소']
            var m_i_name2 = m_infos[i]['매장명']
            var m_i_gw2 = m_infos[i]['권역']
            var m_i_gj2 = m_infos[i]['거점']
            var marker = new kakao.maps.Marker({
                map: map,
                position: positions[i].latlng,
                clickable: true
            })
            var iwContent = `<div id="iw_con_info"><h5>${m_i_name2}</h5><h5>${m_i_addr2}</h5><h5>권역: ${m_i_gw2}</h5><h5>거점: ${m_i_gj2}</h5></div>`, // 인포윈도우에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
                iwRemoveable = true; // removeable 속성을 ture 로 설정하면 인포윈도우를 닫을 수 있는 x버튼이 표시됩니다

            var infowindow = new kakao.maps.InfoWindow({
                content: iwContent,
                removable: iwRemoveable
            });

            kakao.maps.event.addListener(marker, 'click', makeOverListener(map, marker, infowindow));

        } */
    }
})

/* var positions = [
    {
        content: '<div>소울휘트니스</div>', 
        latlng: new kakao.maps.LatLng(37.6136489, 127.0347646)
    },
    {
        content: '<div>업타운휘트니스 미아사거리점</div>', 
        latlng: new kakao.maps.LatLng(37.6126281, 127.0297169)
    },
    {
        content: '<div>아크로짐</div>', 
        latlng: new kakao.maps.LatLng(37.6202567, 127.0175765)
    },
    {
        content: '<div>레몬핏 휘트니스</div>',
        latlng: new kakao.maps.LatLng(37.6222125, 127.0460826)
    },
    {
        content: '<div>서문석헬스클럽</div>',
        latlng: new kakao.maps.LatLng(37.5260933, 126.8632874)
    }
    ,
    {
        content: '<div>목동역점스포애니케이디스포츠</div>',
        latlng: new kakao.maps.LatLng(37.5253137, 126.8639988)
    }
    ,
    {
        content: '<div>머스트짐</div>',
        latlng: new kakao.maps.LatLng(37.5278991, 126.8644008)
    }
    ,
    {
        content: '<div>피트니스포에버 헬스/PT/기구필라테스</div>',
        latlng: new kakao.maps.LatLng(37.5259231, 126.868438)
    }
]; */

for (var i = 0; i < positions.length; i ++) {
    // 마커를 생성합니다
    var marker = new kakao.maps.Marker({
        map: map, // 마커를 표시할 지도
        position: positions[i].latlng // 마커의 위치
    });

    // 마커에 표시할 인포윈도우를 생성합니다 
    var infowindow = new kakao.maps.InfoWindow({
        content: positions[i].content // 인포윈도우에 표시할 내용
    });

    // 마커에 mouseover 이벤트와 mouseout 이벤트를 등록합니다
    // 이벤트 리스너로는 클로저를 만들어 등록합니다 
    // for문에서 클로저를 만들어 주지 않으면 마지막 마커에만 이벤트가 등록됩니다
    kakao.maps.event.addListener(marker, 'mouseover', makeOverListener(map, marker, infowindow));
    kakao.maps.event.addListener(marker, 'mouseout', makeOutListener(infowindow));
}

// 인포윈도우를 표시하는 클로저를 만드는 함수입니다 
function makeOverListener(map, marker, infowindow) {
    return function() {
        infowindow.open(map, marker);
    };
}

// 인포윈도우를 닫는 클로저를 만드는 함수입니다 
function makeOutListener(infowindow) {
    return function() {
        infowindow.close();
    };
}

</script>




