<style>

</style>
<ul class="nav nav-tabs">
	<li class="nav-item"><a href="" class="active nav-link">일반 회원</a></li>
</ul>
<div class="tab-content pt-3">
	<div class="tab-pane active">
		
 <div class="row flex-lg-nowrap">
      <div class="col mb-3">
        <div class="e-panel card">
          <div class="card-body">
            <div class="e-table">
            
              <!-- Table Start -->
            
              <div class="table-responsive table-lg mt-3">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th class="align-top">
                        <div class="custom-control custom-control-inline custom-checkbox custom-control-nameless m-0">
                          <input type="checkbox" class="custom-control-input" id="all-items">
                          <label class="custom-control-label" for="all-items"></label>
                        </div>
                      </th>
                      <th>아이디</th>
                      <th class="max-width">이름</th>
                      <th class="sortable">가입일</th>
                    </tr>
                  </thead>
                  <tbody th:each="t : ${tneelist}">
                    <tr class="trainee_info">
                      <td class="align-middle">
                        <div class="custom-control custom-control-inline custom-checkbox custom-control-nameless m-0 align-top">
                          <input type="checkbox" class="custom-control-input" id="item-1">
                          <label class="custom-control-label" for="item-1"></label>
                        </div>
                      </td>
                      <td class="text-nowrap align-middle">
                      	<a  th:text="${t.id}" th:href="@{/admin/trainees(id=${t.id})}"></a>
                      </td>
                      <td class="text-nowrap align-middle" th:text="${t.name}"></td>
                      <td class="text-nowrap align-middle" th:text="${#dates.format(t.regdate, 'yyyy-MM-dd')}"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- Table End-->
              
              <div class="d-flex justify-content-center">
                <ul class="pagination mt-3 mb-0">
                  <li class="disabled page-item"><a href="#" class="page-link">‹</a></li>
                  <li class="active page-item"><a href="#" class="page-link">1</a></li>
                  <li class="page-item"><a href="#" class="page-link">2</a></li>
                  <li class="page-item"><a href="#" class="page-link">3</a></li>
                  <li class="page-item"><a href="#" class="page-link">4</a></li>
                  <li class="page-item"><a href="#" class="page-link">5</a></li>
                  <li class="page-item"><a href="#" class="page-link">›</a></li>
                  <li class="page-item"><a href="#" class="page-link">»</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>

	</div>
</div>