<style>
	#btn_findid{
		float:right;
	}
</style>
<section class="ftco-section contact-section ftco-no-pb" id="contact-section">
      <div class="container">
	      	<div class="row justify-content-center mb-5 pb-3">
		          <div class="col-md-7 heading-section text-center ftco-animate">
			            <span class="subheading">Sign UP</span>
			            <h2 class="mb-4">회원가입</h2>
			            <p>로그인 실패 시 이유 표시</p>
		          </div>
		          <div class="col-md-7 heading-section text-center ftco-animate">
		           <a href="/join/trainee">일반회원</a>
		           <a href="/join/trainer">트레이너 회원</a>
		           </div>
	        </div>
      </div>
</section>