<style>
#btn_findid {
	float: right;
}

h2,p {
	font-family: "Poppins", Arial, sans-serif; 
}

textarea {
	font-family: Arial;
}

* {
	margin: 0;
	padding: 0
}

html {
	height: 100%
}

p {
	color: grey
}

#heading {
	text-transform: uppercase;
	color: #769BCD;
	font-weight: normal
}

#msform {
	text-align: center;
	position: relative;
	margin-top: 20px;
	font-family: "Poppins", Arial, sans-serif;
}

#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 0.5rem;
	box-sizing: border-box;
	width: 100%;
	margin: 0;
	padding-bottom: 20px;
	position: relative;
}

.form-card {
	text-align: left
}

#msform fieldset:not(:first-of-type) {
	display: none
}

#msform input, #msform select {
	padding: 8px 15px 8px 15px;
	border: 1px solid #ccc;
	border-radius: 0px;
	margin-bottom: 25px;
	margin-top: 2px;
	width: 100%;
	box-sizing: border-box;
	font-family: "Poppins", Arial, sans-serif;
/* 	color: #2C3E50; */
	/* background-color: #ECEFF1; */
	font-size: 16px;
	letter-spacing: 1px
}

#msform input:focus, #msform textarea:focus,  #msform select:focus  {
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	border: 1px solid #769BCD;
	outline-width: 0;
}

#msform .action-button {
	width: 100px;
	background: #769BCD;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 0px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 0px 10px 5px;
	float: right
}

#msform .action-button:hover, #msform .action-button:focus {
	background-color: #114d73;
}

#msform .action-button-previous {
	width: 100px;
	background: #dbb3b3;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 0px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px 10px 0px;
	float: right
}

#msform .action-button-previous:hover, #msform .action-button-previous:focus
	{
	background-color: #bd7a7a
}

.card {
	z-index: 0;
	border: none;
	position: relative
}

.fs-title {
	font-size: 25px;
	color: #769BCD;
	margin-bottom: 15px;
	font-weight: normal;
	text-align: left
}

.purple-text {
	color: #769BCD;
	font-weight: normal
}

.steps {
	font-size: 25px;
	color: gray;
	margin-bottom: 10px;
	font-weight: normal;
	text-align: right
}

.fieldlabels {
	color: gray;
	text-align: left
}

#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	color: lightgrey
}

#progressbar .active {
	color: #769BCD;
}

#progressbar li {
	list-style-type: none;
	font-size: 15px;
	width: 25%;
	float: left;
	position: relative;
	font-weight: 400
}

#progressbar #account:before {
	font-family: FontAwesome;
	content: "\f13e"
}

#progressbar #personal:before {
	font-family: FontAwesome;
	content: "\f007"
}

#progressbar #gym:before {
	font-family: FontAwesome;
	content: "\f44b"
}

#progressbar #profile:before {
	font-family: FontAwesome;
	content: "\f2bb"
}

#progressbar #payment:before {
	font-family: FontAwesome;
	content: "\f030"
}

#progressbar #confirm:before {
	font-family: FontAwesome;
	content: "\f00c"
}

#progressbar li:before {
	width: 50px;
	height: 50px;
	line-height: 45px;
	display: block;
	font-size: 20px;
	color: #ffffff;
	background: lightgray;
	border-radius: 50%;
	margin: 0 auto 10px auto;
	padding: 2px
}

#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: lightgray;
	position: absolute;
	left: 0;
	top: 25px;
	z-index: -1;
}

#progressbar li.active:before, #progressbar li.active:after {
	background: #769BCD;
}

.progress {
	height: 20px
}

.progress-bar {
	background-color: #769BCD;
}

.fit-image {
	width: 100%;
}

#next-btn-1:disabled, #next-btn-2:disabled, #next-btn-3:disabled, #next-btn-4:disabled {
	color: rgba(white, 0.5);
	background-color: grey; 
	cursor: auto;
}

#next-btn-1:disabled:hover, #next-btn-2:disabled:hover, #next-btn-3:disabled:hover, #next-btn-4:disabled:hover {
	color: rgba(white, 0.5);
	background-color: grey;
	cursor: auto;
} 


</style>



<script
	src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>


	// 멀티스텝 form
	$(document).ready(function() {
		var current_fs, next_fs, previous_fs; //fieldsets
		var opacity;
		var current = 1;
		var steps = $("fieldset").length;

		setProgressBar(current);

		$(".next").click(
				function() {

					current_fs = $(this).parent();
					next_fs = $(this).parent().next();

					//Add Class Active
					$("#progressbar li").eq(
							$("fieldset").index(next_fs)).addClass(
							"active");

					//show the next fieldset
					next_fs.show();
					//hide the current fieldset with style
					current_fs.animate({
						opacity : 0
					}, {
						step : function(now) {
							// for making fielset appear animation
							opacity = 1 - now;

							current_fs.css({
								'display' : 'none',
								'position' : 'relative'
							});
							next_fs.css({
								'opacity' : opacity
							});
						},
						duration : 500
					});
					setProgressBar(++current);
				});

		$(".previous").click(
				function() {

					current_fs = $(this).parent();
					previous_fs = $(this).parent().prev();

					//Remove class active
					$("#progressbar li").eq(
							$("fieldset").index(current_fs))
							.removeClass("active");

					//show the previous fieldset
					previous_fs.show();

					//hide the current fieldset with style
					current_fs.animate({
						opacity : 0
					}, {
						step : function(now) {
							// for making fielset appear animation
							opacity = 1 - now;

							current_fs.css({
								'display' : 'none',
								'position' : 'relative'
							});
							previous_fs.css({
								'opacity' : opacity
							});
						},
						duration : 500
					});
					setProgressBar(--current);
				});

		function setProgressBar(curStep) {
			var percent = parseFloat(100 / steps) * curStep;
			percent = percent.toFixed();
			$(".progress-bar").css("width", percent + "%")
		}

		$(".submit").click(function() {
			return false; // 제출
		})

	});
	

	// jQuery
	$(document).ready(function() {
			$('#next-btn-1').attr('disabled', 'disabled');
			$('#next-btn-2').attr('disabled', 'disabled');
			$('#next-btn-3').attr('disabled', 'disabled');
			$('#next-btn-4').attr('disabled', 'disabled');
		

			// ajax 이용해서 사용가능한 아이디, 불가능한 아이디 띄우기
			$('#id').keyup(function() {
				var id = $(this).val();
				$.ajax({
					url : '/checktid',
					data : {
						'id' : id
					},
					success : function(data) {
						if (data == '1') {
							$('#iuid').text('사용불가능한 아이디입니다');
							/*  alert("사용 불가능한 아이디입니다")  */
						} else {
							$('#iuid').text('사용가능한 아이디입니다.');
							/* alert("사용 가능한 아이디입니다.") */
						}
					}
				});
			});

			// ajax 이용해서 사용가능한 이메일, 불가능한 이메일 띄우기
			$('#email').keyup(function() {
				var email = $(this).val();
				$.ajax({
					url : '/checktemail',
					data : {
						'email' : email
					},
					success : function(data) {
						if (data == '1') {
							$('#iuemail').text('사용불가능한 이메일입니다');
							/*  alert("사용 불가능한 아이디입니다")  */
						} else {
							$('#iuemail').text('사용가능한 이메일입니다.');
							/* alert("사용 가능한 아이디입니다.") */
						}
					}
				});
			});
			
			// 비밀번호 확인
			$('input[name="cpwd"]').keyup(function() {
				var pwd = $('input[name="pwd"]').val();
				var pwd2 = $('input[name="cpwd"]').val();
				if (pwd == pwd2) {
					$('#scpwd').text('일치 합니다.');				
				}
				else {
					$('#scpwd').text('일치하지 않습니다.');				
				}
			});
			
			//1번 필수입력창 확인
				$('.field-1 input').on('keyup', function() {	
					
					var pwd = $('input[name="pwd"]').val();
					var pwd2 = $('input[name="cpwd"]').val();
					
				    $('.field-1 input').each(function() {
				      if(!$(this).val()){
				    		$('#next-btn-1').attr('disabled', 'disabled');
				           return false;
				        }
				     
				      if(pwd==pwd2 && $(this).val()) {
				    		$('#next-btn-1').removeAttr('disabled');
				      }
				    });   
				});
			
	
			//2번 필수입력창 확인
				$('.field-2 input').on('keyup', function() {		
				    $('.field-2 input').each(function() {
				      if(!$(this).val()){
				    		$('#next-btn-2').attr('disabled', 'disabled');
				           return false;
				        }
				     
				      else {
				    		$('#next-btn-2').removeAttr('disabled');
				      }
				    });   
				});
			
			
			//3번 필수입력창 확인
			 	$('.field-3 input').on('keyup', function() {		
				    $('.field-3 input').each(function() {
				   		
				      if(!$(this).val()){
				    		$('#next-btn-3').attr('disabled', 'disabled');
				           return false;
				        }
				     
				      else {
				    		$('#next-btn-3').removeAttr('disabled');
				      }
				    });   
				}); 
			
			//4번 필수입력창 확인
				$('.field-4 textarea[name=intro],[name=career]').on('keyup', function() {		
				    $('.field-4 input[name=intro],[name=career]').each(function() {
				      if(!$(this).val()){
				    		$('#next-btn-4').attr('disabled', 'disabled');
				           return false;
				        }
				     
				      else {
				    		$('#next-btn-4').removeAttr('disabled');
				      }
				    });   
				});

			// 소개글 글자수제한
				var text_max = 200;
				$('#count_message').html('0 / ' + text_max );
				
				$('#text').keyup(function() {
				  var text_length = $('#text').val().length;
				  var text_remaining = text_max - text_length;
				  
				  $('#count_message').html(text_length + ' / ' + text_max);
				});
						
			// 경력사항 글자수제한			
				$('#count_message2').html('0 / ' + text_max );
				
				$('#text2').keyup(function() {
				  var text_length = $('#text2').val().length;
				  var text_remaining = text_max - text_length;
				  
				  $('#count_message2').html(text_length + ' / ' + text_max);
				});
				
				
				//	INSERT 기능
				$('#register_btn').click(function() {
				
					$('.user').attr({
						'enctype' : 'multipart/form-data',
						'method' : 'post',
						'action' : '/tregisterimpl'
					});
					$('.user').submit();
				});
	});
	
	// 주소지 API
	function sample6_execDaumPostcode() {
		new daum.Postcode(
				{
					oncomplete : function(data) {

						var addr = '';
						var extraAddr = '';
						if (data.userSelectedType === 'R') {
							addr = data.roadAddress;
						} else {
							addr = data.jibunAddress;
						}

						if (data.userSelectedType === 'R') {
							if (data.bname !== ''
									&& /[동|로|가]$/g
											.test(data.bname)) {
								extraAddr += data.bname;
							}
							if (data.buildingName !== ''
									&& data.apartment === 'Y') {
								extraAddr += (extraAddr !== '' ? ', '
										+ data.buildingName
										: data.buildingName);
							}
							if (extraAddr !== '') {
								extraAddr = ' ('
										+ extraAddr + ')';
							}
							//document.getElementById("sample6_extraAddress").value = extraAddr;

						} else {
							//document.getElementById("sample6_extraAddress").value = '';
						}

						document.getElementById('sample6_postcode').value = data.zonecode;
						document.getElementById("sample6_address").value = addr+ extraAddr;											
						document.getElementById("sample6_detailAddress").focus();

					}
				}).open();
	}
		
			
</script>

<div class="container-fluid mt-4">
	<div class="row justify-content-center">
		<div
			class="col-11 col-sm-10 col-md-10 col-lg-6 col-xl-5 text-center p-0 mt-3 mb-2">
			<div class="card px-0 pt-4 pb-0 mt-3 mb-3">
				<h2 id="heading">트레이너로 가입하기</h2>
				<p>* 표시된 항목은 필수 입력 사항입니다.</p>
				<form id="msform" class="user">
					<!-- progressbar -->
					<ul id="progressbar">
						<li class="active" id="account"><strong>계정</strong></li>
						<li id="personal"><strong>트레이너 정보</strong></li>
						<li id="gym"><strong>헬스장 정보</strong></li>
						<li id="profile"><strong>프로필 설정</strong></li>
						<li id="payment"><strong>파일 첨부</strong></li>
						<li id="confirm"><strong>가입완료</strong></li>
					</ul>
					<div class="progress">
						<div
							class="progress-bar progress-bar-striped progress-bar-animated"
							role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
					<br>
					<!-- fieldsets -->
					<!-- 계정정보 -->
					<fieldset>
						<div class="form-card">
							<div class="row">
								<div class="col-7">
									<h2 class="fs-title">계정 정보:</h2>
								</div>
								<div class="col-5">
									<h2 class="steps">Step 1 - 6</h2>
								</div>
							</div>
							<div class="field-1">
								<label class="fieldlabels">이메일: *</label> <span id="iuemail"></span>
								<input type="email" id="email" name="email" placeholder="Email"
									required /> <label class="fieldlabels">아이디: *</label> <span
									id="iuid"></span> <input type="text" id="id" name="id"
									placeholder="UserName" /> <label class="fieldlabels">비밀번호:
									*</label> <input type="password" name="pwd" placeholder="Password" /> <label
									class="fieldlabels">비밀번호 확인: *</label> <span id="scpwd"></span>
	
								<input type="password" name="cpwd" placeholder="Confirm Password" />
							</div>
						</div>
						<input type="button" name="next" class="next action-button"
							id="next-btn-1" value="다음" />
					</fieldset>

					<!-- 트레이너 정보 -->
					<fieldset>
						<div class="form-card">
							<div class="row">
								<div class="col-7">
									<h2 class="fs-title">트레이너 정보:</h2>
								</div>
								<div class="col-5">
									<h2 class="steps">Step 2 - 6</h2>
								</div>
							</div>
							
							<div class="field-2">
								<label class="fieldlabels">이름: *</label> <input type="text"
								name="name" placeholder="Name" id="name"/> <label class="fieldlabels">휴대폰
								번호: *</label> <input type="text" name="phone" placeholder="Phone" id="phone"/> 
								
								<label class="fieldlabels">성별: *</label> 								
								<!-- <input type="text"
								name="gender" placeholder="Gender" id="gender"/>  -->
								
								<select class="form-control" name="gender" >
								  <option>남</option>
								  <option>여</option>
								</select>

								
								<label
								class="fieldlabels">운동종목: *</label> 
								<!-- <input type="text"
								name="major" placeholder="Field (ex: Body-building, etc)" id="major"/>	 -->
								
								<select class="form-control" name="major" >
								  <option>보디빌딩</option>
								  <option>파워리프팅</option>
								  <option>피지크</option>
								  <option>필라테스</option>
								  <option>크로스핏</option>
								  <option>요가</option>
								</select>
							</div>
						</div>
							
						<input type="button" name="next" class="next action-button"
							value="다음" id="next-btn-2"/> <input type="button" name="previous"
							class="previous action-button-previous" value="이전" />
					</fieldset>

					<!-- 트레이너 정보 -->
					<fieldset>
						<div class="form-card">
							<div class="row">
								<div class="col-7">
									<h2 class="fs-title">헬스장 정보:</h2>
								</div>
								<div class="col-5">
									<h2 class="steps">Step 3 - 6</h2>
								</div>
							</div>
							
							<div class="field-3">
							<label class="fieldlabels">헬스장 이름: *</label> <input type="text"
								name="gym_name" placeholder="Name" /> <label
								class="fieldlabels">우편번호: *</label>

							<button class="btn btn-primary"
								onclick="sample6_execDaumPostcode()">우편번호 찾기</button>

							<input type="text" id="sample6_postcode" name="gym_zip"
								placeholder="우편번호"> <label class="fieldlabels">주소:
								*</label> <input type="text" id="sample6_address" name="gym_addr1"
								placeholder="Address"> <label class="fieldlabels">상세주소: *
							</label> <input type="text" id="sample6_detailAddress" name="gym_addr2"
								placeholder="Address detail (ex: 상호빌딩)">

							</div>
							
						</div>

						<input type="button" name="next" class="next action-button" id="next-btn-3"
							value="다음" /> <input type="button" name="previous"
							class="previous action-button-previous" value="이전" />

					</fieldset>

					<!-- 트레이너 설정 -->
					<fieldset>
						<div class="form-card">
							<div class="row">
								<div class="col-7">
									<h2 class="fs-title">프로필 설정:</h2>
								</div>
								<div class="col-5">
									<h2 class="steps">Step 4 - 6</h2>
								</div>
							</div>
							
							<div class="field-4">											
									<label class="fieldlabels">소개글: *</label>		
								   
								        <textarea class="form-control" id="text" name="intro" 
								      	 maxlength="300" placeholder="Type in your message" rows="4"></textarea>
								        <span class="float-right" id="count_message"></span>
								      	<br> 
		
									<label class="fieldlabels">경력 및 수상 내역: *</label>		
								   
								        <textarea class="form-control" id="text2" name="career" 
								      	 maxlength="200" placeholder="Type in your message" rows="3"></textarea>
								        <span class="float-right" id="count_message2"></span>
								      	<br> 
																
								<label
									class="fieldlabels">대표 프로필 사진: *</label> <input type="file"
									name="pf1"> <label class="fieldlabels">프로필
									사진 2: </label> <input type="file" name="pf2" accept="images/*"> <label
									class="fieldlabels">프로필 사진 3: </label> <input type="file"
									name="pf3" accept="images/*">
							</div>
						</div>
						<input type="button" name="next" class="next action-button" id="next-btn-4"
							value="다음" /> <input type="button" name="previous"
							class="previous action-button-previous" value="이전" />
					</fieldset>

					<!-- 파일 첨부 -->
					<fieldset>
						<div class="form-card">
							<div class="row">
								<div class="col-7">
									<h2 class="fs-title">경력 및 대회수상 파일 업로드:</h2>
								</div>
								<div class="col-5">
									<h2 class="steps">Step 5 - 6</h2>
								</div>
							</div>
							<div class="field-5">
								<label class="fieldlabels">파일 첨부 1: *:</label> <input type="file"
									name="lc1" accept="images/*"> <label class="fieldlabels">파일
									첨부 2:</label> <input type="file" name="lc2" accept="images/*"> <label
									class="fieldlabels">파일 첨부 3:</label> <input type="file"
									name="lc3" accept="images/*">
							</div>
						</div>
						<input type="button" name="next" class="next action-button" 
							value="다음"/> <input type="button"
							name="previous" class="previous action-button-previous"
							value="이전" />
					</fieldset>

					<fieldset>
						<div class="form-card">
							<div class="row">
								<div class="col-7">
									<h2 class="fs-title">가입완료:</h2>
								</div>
								<div class="col-5">
									<h2 class="steps">Step 6 - 6</h2>
								</div>
							</div>
							<br> 
							<h2 class=" text-center">
								<strong>제출버튼을 누르시면 가입이 완료됩니다.</strong>
							</h2>
						

							<div class="row justify-content-center">
								<div class="col-7 text-center">
									<h5 class="purple-text text-center">트레이너 승인신청 완료</h5>
									
								</div>
							</div>
						</div>
						<input type="button" id="register_btn" name="next"
							class="next action-button" value="제출"/> <input type="button"
							name="previous" class="previous action-button-previous"
							value="이전" />
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</div>


