<style>
#btn_findid {
	float: right;
}
</style>
<script
	src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
	function sample6_execDaumPostcode() {
		new daum.Postcode(
				{
					oncomplete : function(data) {

						var addr = '';
						var extraAddr = '';
						if (data.userSelectedType === 'R') {
							addr = data.roadAddress;
						} else {
							addr = data.jibunAddress;
						}

						if (data.userSelectedType === 'R') {
							if (data.bname !== ''
									&& /[동|로|가]$/g.test(data.bname)) {
								extraAddr += data.bname;
							}
							if (data.buildingName !== ''
									&& data.apartment === 'Y') {
								extraAddr += (extraAddr !== '' ? ', '
										+ data.buildingName : data.buildingName);
							}
							if (extraAddr !== '') {
								extraAddr = ' (' + extraAddr + ')';
							}
							document.getElementById("sample6_extraAddress").value = extraAddr;

						} else {
							document.getElementById("sample6_extraAddress").value = '';
						}

						document.getElementById('sample6_postcode').value = data.zonecode;
						document.getElementById("sample6_address").value = addr;
						document.getElementById("sample6_detailAddress")
								.focus();
					}
				}).open();
	}
</script>

<script>
	//아이디 중복 체크 , id는 3자리 이상
	$(document).ready(function() {
		$('#id').keyup(function() {
			var id = $(this).val();
			$.ajax({
				url : '/checkid',
				data : {
					'id' : id
				},
				success : function(result) {
					if (result == '1') {
						$('#ieid').text('사용불가능한 아이디입니다');

					} else {
						$('#ieid').text('사용가능한 아이디입니다.');
						if (id.length < 3) {
							$('#ieid').text('id는 3자리 이상이어야 합니다');
						}
					}

				}
			});
		});

		//사용가능한 이메일 중복 체크
		$('#email').keyup(function() {
			var email = $(this).val();
			$.ajax({
				url : '/checkemail',
				data : {
					'email' : email
				},
				success : function(data) {
					if (data == '1') {
						$('#ieemail').text('사용불가능한 이메일입니다');

					} else {
						$('#ieemail').text('사용가능한 이메일입니다.');

					}
				}
			});
		});
		
		//비밀번호 확인
		$('input[name="pwd2"]').keyup(function() {
				var pwd = $('input[name="pwd"]').val();
				var pwd2 = $('input[name="pwd2"]').val();
				if (pwd == pwd2) {
					$('#iepwd').text('');				
				}
				else {
					$('#iepwd').text('비밀번호를 다시 확인해주세요');				
				}
			});

		// 	INSERT 기능
		$('#joinbtn').click(function() {
			$('.user').attr({
				'method' : 'post',
				'action' : '/joinimpl'
			});
			$('.user').submit();
		});
	});
</script>

<section class="ftco-section contact-section ftco-no-pb"
	id="contact-section">
	<div class="container">
		<div class="row justify-content-center mb-5 pb-3">
			<div class="col-md-7 heading-section text-center ftco-animate">
				<span class="subheading">Sign up</span>
				<h2 class="mb-4">회원가입</h2>
				<p>* 표시된 항목은 필수 입력 사항입니다.</p>
			</div>

			<div class="bg-light p-4 p-md-5contact-form col-md-7">
				<form id="joinform" action="" class="user">

					<div class="form-group">
						<label>아이디 *: </label> <span id="ieid"></span> <input type="text"
							id="id" name="id" class="form-control">
					</div>


					<div class="form-group">
						<label>비밀번호 *: </label> <input type="password" id="pwd" name="pwd"
							placeholder="영문과 숫자를 포함해 4~20자리를 입력해 주세요" class="form-control">
					</div>
					<div class="form-group">
						<label>비밀번호 확인 *: </label> <span id="iepwd"></span> <input
							type="password" name="pwd2" placeholder="비밀번호를 다시 입력해주세요"
							class="form-control"> <br>
					</div>
					<!-- 비밀번호가 일치합니다 ajax로 구현  -->
					<div class="form-group">
						<label>이름 *: </label> <input type="text" id="name" name="name"
							class="form-control">
					</div>
					<div class="form-group">
						<label>휴대폰 번호 *: </label> <input type="text" id="phone"
							name="phone" class="form-control">
					</div>
					<div class="form-group">
						<label>이메일 *: </label> <span id="ieemail"></span> <input
							type="text" id="email" name="email" class="form-control" value=""
							placeholder="이메일" maxlength="20">
						<!--<input type="text" id="email_domain"
							class="form-control col-sm-6" value="" title="이메일 도메인"
							placeholder="이메일 도메인" maxlength="20"> 
							<select class="select" title="email domain adress">
							<option value="">-선택-</option>
							<option value="@naver.com">@naver.com</option>
							<option value="@gmail.com">@gmail.com</option>
							<option value="@hanmail.net">@hanmail.net</option>
							<option value="@hotmail.com">@hotmail.com</option>
							<option value="@korea.com">@korea.com</option>
							<option value="@nate.com">@nate.com</option>
							<option value="@yahoo.com">@yahoo.com</option>
							 <option value="직접 입력">직접 입력</option>
						</select> -->
						<button type="button" class="btn btn-primary" data-toggle="modal"
							data-target="#emailModal">이메일인증</button>
						<!-- The Modal -->
						<div class="modal" id="emailModal">
							<div class="modal-dialog">
								<div class="modal-content">
									<!-- Modal body-->
									<div class="modal-body">이메일로 인증코드를 발송했습니다.</div>
									<div class="modal-body">
										<input class="form-control mail-check-input"
											placeholder="인증번호 6자리를 입력해주세요!" disabled="disabled"
											maxlength="6">
									</div>
									<!-- Modal footer -->
									<div class="modal-footer">
										<button type="button" class="btn btn-danger"
											data-dismiss="modal">Close</button>
									</div>

								</div>
							</div>
						</div>

					</div>

					<!-- <div class="mail-check-box">
										<input class="form-control mail-check-input"
											placeholder="인증번호 6자리를 입력해주세요!" disabled="disabled"
											maxlength="6">
									</div> 
									<span id="mail-check-warn"></span>
								</div>-->

					<div>
						<label>주소 *: </label>
					</div>
					<div class="form-group">
						<input type="text" id="sample6_postcode" placeholder="우편번호"
							name="zip"> <input type="button"
							onclick="sample6_execDaumPostcode()" value="우편번호 찾기"><br>
						<input type="text" class="form-control" id="sample6_address"
							placeholder="주소" name="addr1"><br> <input
							type="text" class="form-control" id="sample6_detailAddress"
							placeholder="상세주소"> <input type="text"
							class="form-control" id="sample6_extraAddress" placeholder="건물명"
							name="addr2">
					</div>
					<div class="form-group">
						<button type="submit" id="joinbtn" value="제출"
							class="btn btn-primary py-3 px-5">회원가입</button>
					</div>
				</form>

			</div>
		</div>
	</div>
</section>