<style>
#btn_findid {
	float: right;
}

h3, p, span {
	font-family: "Poppins", Arial, sans-serif;
}

.register {
	margin-top: 3%;
	margin-bottom: 3%;
	padding: 3%;
}

.register-left {
	background: -webkit-linear-gradient(left, #c6724d, #769BCD);
	text-align: center;
	color: #fff;
}

.register-left input {
	border: none;
	border-radius: 1.2rem;
	width: 60%;
	background: #f8f9fa;
	font-weight: bold;
	color: #383d41;
	margin-bottom: 3%;
	cursor: pointer;
}

.register-right {
	background: #f8f9fa;
	
}

.register-left img {
	margin-top: 15%;
	margin-bottom: 5%;
	width: 25%;
	-webkit-animation: mover 2s infinite alternate;
	animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover { 0% {
	transform: translateY(0);
} 100% {
transform: translateY(-20px);}
}

@keyframes mover { 0% {
	transform: translateY(0);
} 100% {
transform: translateY(-20px);}
}
.register-left p {
	font-weight: lighter;
	padding: 12%;
	margin-top: -9%;
}

.register .register-form {
	padding: 10%;
	margin-top: 10%;
}

.btnRegister {
	float: right;
	margin-top: 10%;
	border: none;
	border-radius: 1.5rem;
	padding: 2%;
	background: #769BCD;
	color: #fff;
	font-weight: 600;
	width: 50%;
	cursor: pointer;
}

.btnRegister:disabled {
	background-color: gray;
	cursor: auto;
	border: 1px solid gray; 
}

.register .nav-tabs {
	margin-top: 3%;
	border: none;
	background: #769BCD;
	border-radius: 1.5rem;
	width: 28%;
	float: right;
}

.register .nav-tabs .nav-link {
	padding: 2%;
	height: 34px;
	font-weight: 600;
	color: #fff;
	border-top-right-radius: 1.5rem;
	border-bottom-right-radius: 1.5rem;
}

.register .nav-tabs .nav-link:hover {
	border: none;
}

.register .nav-tabs .nav-link.active {
	width: 100px;
	color: #769BCD;
	border: 2px solid #769BCD;
	border-top-left-radius: 1.5rem;
	border-bottom-left-radius: 1.5rem;
}

.register-heading {
	text-align: center;
	margin-top: 8%;
	margin-bottom: -15%;
	color: #495057;
}

#joinbtn:disabled {
	background-color: gray;
	cursor: auto;
	border: 1px solid gray;
}
</style>


<script
	src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
<script>
window.Kakao.init("1246eaf5aa2f74f55a55378bd15623c5")

function kakaoLogin() {
	window.Kakao.Auth.login({
		scope: 'profile_nickname, account_email, gender',
		success: function(authObj) {
			console.log(authObj);
			window.Kakao.API.request({
				url: '/v2/user/me',
				success: res => {
					const kakao_account = res.kakao_account;
					console.log(kakao_account);
				}
			});
		}
	});
}

	function sample6_execDaumPostcode() {
		new daum.Postcode(
				{
					oncomplete : function(data) {

						var addr = '';
						var extraAddr = '';
						if (data.userSelectedType === 'R') {
							addr = data.roadAddress;
						} else {
							addr = data.jibunAddress;
						}

						if (data.userSelectedType === 'R') {
							if (data.bname !== ''
									&& /[동|로|가]$/g.test(data.bname)) {
								extraAddr += data.bname;
							}
							if (data.buildingName !== ''
									&& data.apartment === 'Y') {
								extraAddr += (extraAddr !== '' ? ', '
										+ data.buildingName : data.buildingName);
							}
							if (extraAddr !== '') {
								extraAddr = ' (' + extraAddr + ')';
							}
						//	document.getElementById("sample6_extraAddress").value = extraAddr;

						} else {
						//	document.getElementById("sample6_extraAddress").value = '';
						}

						document.getElementById('sample6_postcode').value = data.zonecode;
						document.getElementById("sample6_address").value = addr + extraAddr;
						document.getElementById("sample6_detailAddress").focus();
								
					}
				}).open();
	}
	
	$(document).ready(function() {
		$('#joinbtn').attr('disabled', 'disabled');
		
		//아이디 중복 체크 , id는 3자리 이상
		$('#id').keyup(function() {
			var id = $(this).val();
			$.ajax({
				url : '/checkid',
				data : {
					'id' : id
				},
				success : function(result) {
					if (result == '1') {
						$('#ieid').text('사용불가능한 아이디입니다');

					} else {
						$('#ieid').text('사용가능한 아이디입니다.');
						if (id.length < 3) {
							$('#ieid').text('id는 3자리 이상이어야 합니다');
						}
					}

				}
			});
		});

		//사용가능한 이메일 중복 체크
		$('#email').keyup(function() {
			var email = $(this).val();
			$.ajax({
				url : '/checkemail',
				data : {
					'email' : email
				},
				success : function(data) {
					if (data == '1') {
						$('#ieemail').text('사용불가능한 이메일입니다');

					} else {
						$('#ieemail').text('사용가능한 이메일입니다.');

					}
				}
			});
		});

		//비밀번호 확인
		$('.register-form input[name=pwd2]').keyup(function() {
			var pwd = $('.register-form input[name="pwd"]').val();
			var pwd2 = $('.register-form input[name="pwd2"]').val();
			
			if (pwd == pwd2) {
				$('#iepwd').text('비밀번호가 일치합니다');
			} else {
				$('#iepwd').text('비밀번호를 다시 확인해주세요');
			}
		});
		
		
		$('.user input').on('keyup', function() {		
		    $('.user input').each(function() {
		      if(!$('.user input[name=name]').val() || !$('.user input[name=id]').val() 
		    		  || !$('.user input[name=pwd]').val() || !$('.user input[name=pwd2]').val() 
		    		  || !$('.user input[name=email]').val() || !$('.user input[name=phone]').val() 
		    		  || !$('.user input[name=zip]').val() || !$('.user input[name=addr1]').val()){
		    		$('#joinbtn').attr('disabled', 'disabled');
		           return false;
		        }
		     
		      else {
		    		$('#joinbtn').removeAttr('disabled');
		      }
		    });   
		});

		// 	INSERT 기능
		$('#joinbtn').click(function() {
			$('.user').attr({
				'method' : 'post',
				'action' : '/joinimpl'
			});
			$('.user').submit();
		});
	});
</script>


<div class="container register mt-5">
	<div class="row mt-5">
		<div class="col-md-3 register-left">
			<img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
			<h3 class="text-light mt-5">당신 근처의 PT쌤</h3>
			<p>30초만에 가입하고 나한테 딱 맞는 트레이너 찾자!</p>

			<a href="/../login"><input class="p-1 mb-3" type="submit" name=""
				value="일반 로그인" /></a> <a href="javascript:kakaoLogin();"><input
				type="image" src="/images/kakao_login.png"> </a> <a href="">
				<input type="image" src="/images/naver_login.png">
			</a>


		</div>
		<div class="col-md-9 register-right">
			<ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
				<li class="nav-item"><a class="nav-link active" id="home-tab"
					data-toggle="tab" href="#home" role="tab" aria-controls="home"
					aria-selected="true">회원가입</a></li>
				<li class="nav-item"><a class="nav-link" id="profile-tab"
					data-toggle="tab" href="#profile" role="tab"
					aria-controls="profile" aria-selected="false">소셜 로그인</a></li>
			</ul>
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show active" id="home" role="tabpanel"
					aria-labelledby="home-tab">
					<h3 class="register-heading">일반 회원가입</h3>
					<form class="row register-form user">
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" class="form-control" name="name"
									placeholder="이름 *" value="" /><span></span>
							</div>
							<div class="form-group">
								<input type="text" class="form-control" name="id" id="id"
									placeholder="아이디 *" value="" /><span id="ieid"></span>
							</div>
							<div class="form-group">
								<input type="password" class="form-control" name="pwd" id="pwd"
									placeholder="비밀번호 *" value="" />
							</div>
							<div class="form-group">
								<input type="password" class="form-control" name="pwd2"
									id="pwd2" placeholder="비밀번호 확인 *" value="" /><span id="iepwd"></span>
							</div>


							<div class="form-group">
								<label class="fieldlabels">정보 수집 동의: *</label>
								<div class="radio-inline">
									<label class="radio-inline"> <input type="radio"
										name="optradio" checked>동의
									</label> <label class="radio-inline"> <input type="radio"
										name="optradio">동의 안함
									</label>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<input type="email" class="form-control" name="email" id="email"
									placeholder="이메일 *" value="" /> <span id="ieemail"></span>
							</div>
							<div class="form-group">
								<input type="text" minlength="10" maxlength="11"
									class="form-control" name="phone" placeholder="휴대폰 번호 *"
									value="" />
							</div>
							
							<div class="form-group">
								<input type="text" class="form-control" id="sample6_postcode" placeholder="우편번호 *"
									name="zip"> 
									<input type="button"
									onclick="sample6_execDaumPostcode()" value="우편번호 찾기">
							</div>
							<div class="form-group">	
								<input type="text" class="form-control" id="sample6_address"
									placeholder="주소 *" name="addr1">
							</div>
							<div class="form-group">	
							 <input type="text" placeholder="상세주소 *" class="form-control" id="sample6_detailAddress" name="addr2"/>

							</div>
							<div class="form-group">
								<button type="submit" id="joinbtn" value="회원가입"
									class="btn btn-primary py-2 px-4 ml-5">회원가입</button>
							</div>
						</div>
					</form>
				</div>

				<div class="tab-pane fade show" id="profile" role="tabpanel"
					aria-labelledby="profile-tab">
					<h3 class="register-heading">소셜 로그인</h3>
					<div class="row register-form">
						<div class="bg-light  p-md-5contact-form col-md-12 ml-5">
							<!-- <div>
										<a href="javascript:kakaoLogin();"><button>kakaologin</button></a>
									</div> -->
							<div class="socialbtn ml-5">
								<a href="javascript:kakaoLogin();"> <input type="image"
									src="/images/kakao_login.png"
									style="height: 46px; widows: 10px;">
								</a>
							</div>
							<div class="kakaobtn ml-5">
								<a href=""> <input type="image"
									src="/images/naver_login.png"
									style="height: 50px; widows: 8px;">
								</a>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


