<style>
#btn_findid {
	float: right;
}

#loginbtn {
	width: 400px;
	background: #769BCD;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 0px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 0px 10px 5px;

}

/* #socialbtn {
	width: 400px;
	height: 100px;
} */
</style>
<script
	src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>

<script>
	window.Kakao.init("1246eaf5aa2f74f55a55378bd15623c5")
	
	function kakaoLogin() {
		window.Kakao.Auth.login({
			scope: 'profile_nickname, account_email, gender',
			success: function(authObj) {
				console.log(authObj);
				window.Kakao.API.request({
					url: '/v2/user/me',
					success: res => {
						const kakao_account = res.kakao_account;
						console.log(kakao_account);
					}
				});
			}
		});
	}

</script>

<section class="ftco-section contact-section ftco-no-pb"
	id="contact-section">
	<div class="container">
		<div class="row justify-content-center mb-5 pb-3">
			<div class="col-md-7 heading-section text-center ftco-animate">
				<span class="subheading">Sign up</span>
				<h2 class="mb-4">회원가입</h2>
				<p>회원가입 방식을 선택해주세요.</p>
			</div>

			<div class="bg-light p-4 p-md-5contact-form col-md-7">

				<div class="form-group">
					<a href="trianeejoin"><input type="button" value="일반회원가입"
						class="loginbtn" id="loginbtn" name="joinbtn"></a>
				</div>
				<div class="socialbtn">
				<!-- <div>
					<a href="javascript:kakaoLogin(
					);"><button>kakaologin</button></a>
				</div> -->
				<div class="kakaobtn">
					<a href="javascript:kakaoLogin();"> 
					<input type="image" src="/images/kakao_login.png" style="height: 46px; widows: 10px;">
					</a>
				</div>
				<div class="naverbtn">
					<a href=""> 
					<input type="image" src="/images/naver_login.png" style="height: 50px; widows: 8px;">
					</a>
				</div>
				</div>
			</div>
		</div>
	</div>
</section>