
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
	
<div class="container mt-5">
	<div class="row flex-lg-nowrap">
		<div class="col-12 col-lg-auto mb-3" style="width: 200px;">
			<div class="card mt-5 p-3">
				<div class="e-navlist e-navlist--active-bg">
					<ul class="nav">
						<li class="nav-item"><a class="nav-link px-2 active" href="#"><i
								class="fa fa-fw fa-user mr-1"></i><span>프로필</span></a></li>
						<li class="nav-item"><a class="nav-link px-2"
							href="/trcareer"
							target="__blank"><i class="fa fa-fw fa-id-card mr-1"></i><span>경력 및 수상</span></a></li>
						
						<li class="nav-item"><a class="nav-link px-2"
							href="https://www.bootdey.com/snippets/view/bs4-edit-profile-page"
							target="__blank"><i class="fa fa-fw fa-history mr-1"></i><span>이용내역</span></a></li>
							
						
					</ul>
				</div>
			</div>
		</div>

		<div class="col">
			<div class="row">
				<div class="col mb-3">
					<div class="card mt-5">
						<div class="card-body">
							<div class="e-profile">
								<div class="row">
									<div class="col-12 col-sm-auto mb-3">
										<div class="mx-auto" style="width: 140px;">
											<div
												class="d-flex justify-content-center align-items-center rounded"
												style="height: 140px; width: 115.11px; background-color: rgb(233, 236, 239);">
												<img
												src="/images/team/team-1.jpg" class="img-fluid" style="height: 140px;"
												alt="Colorlib Template">
												<!-- <span
													style="color: rgb(166, 168, 170); font: bold 8pt Arial;">140x140</span> -->
											</div>
										</div>
									</div>
									<div
										class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
										<div class="text-center text-sm-left mb-2 mb-sm-0">
											<h4 class="pt-sm-2 pb-1 mb-0 text-nowrap" th:text="${trainer.name}">John Smith</h4>
											<p class="mb-0" th:text="'@' + ${trainer.id}">@tid01</p>
											<div class="text-muted">
												<small>Last seen 2 hours ago</small>
											</div>
											<div class="mt-2">
												<button class="btn btn-primary" type="button">
													<i class="fa fa-fw fa-camera"></i> <span>Change
														Photo</span>
												</button>
											</div>
										</div>
										<div class="text-center text-sm-right">
											<span class="badge badge-secondary" th:text="${trainer.level}">trainer</span>
											<div class="text-muted">
												<small th:text="'Joined ' + ${trainer.regdate}">Joined 09 Dec 2017</small>
											</div>
										</div>
									</div>
								</div>
				
								<!-- 여기부터 -->
								<div th:replace="${trainercenter} ? ${trainercenter} : trprofile"></div>
					
							</div>
						</div>
					</div>
				</div>


			</div>

		</div>
	</div>
</div>